﻿
@using System.Globalization;
@model  WebAdo.HomePage
@{
    ViewBag.Title = "الصفحه الرئيسيه";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="col-md-12">
                    <h3>مؤشر تحويلات القود للفرع حتي 30 يوم</h3>
                    <div id="basicflot" style="width: 100%; height: 300px; margin-bottom: 20px; padding: 0px; position: relative;"></div>
                </div><!-- col-sm-8 -->
                <!-- col-sm-4 -->
            </div>
        </div>
    </div>
    


</div>


<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>الطلبات المتأخره</h3>
                <div class="col-md-12">
                    @if (Model.DelayedLoans4.Count > 0)
                    {
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>رقم الطلب</th>
                                    <th>تاريخ الحركه</th>
                                    <th>الوقت</th>
                                    <th>اسم العميل</th>

                                    <th>حاله الطلب</th>
                                    <th>منذ..</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.DelayedLoans4)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.LoanID.ToString(), "Details", "LoanRequest",
                                       new { id = item.LoanID }, null)
                                        </td>
                                        <td>@item.lastAudit.AuditDate.ToShortDateString() </td>
                                        <td>@item.lastAudit.AuditDate.ToShortTimeString() </td>
                                        <td>@item.Customer.UsersInfo.FullName</td>

                                        <td>@item.LoanStatus.StatusName</td>
                                        <td>

                                            <time class="timeago aRed " tooltip="item.lastAudit.AuditDate"
                                                  datetime="@item.lastAudit.AuditDate.ToString(new System.Globalization.CultureInfo("en-US"))"></time>

                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    }
                    else
                    {<h4>لايوجد عقود متاخره</h4> }
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-xs-12">
            <div class="panel panel-warning panel-alt widget-today">
                <div class="panel-heading text-center">
                    <i class="fa fa-calendar-o"></i>
                </div>
                <div class="panel-body text-center">
                    <h4>
                        @_app.ui.DateNow.ToShortDateString()
                    </h4>
                </div><!-- panel-body -->
            </div><!-- panel -->
        </div>
        
    </div>
</div>


<script type="text/javascript" src="~/Theme/js/flot/jquery.flot.time.min.js"></script>
<script type="text/javascript" src="~/Theme/js/jquery.timeago.ar.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var uploads = @Html.Raw(Model.NewContrack);

        var options = {
            series: {
                lines: { show: true },
                points: { show: true }
            },
            grid: {
                hoverable: true,
                clickable: true,
                borderColor: '#ddd',
                borderWidth: 1,
                labelMargin: 10,
                backgroundColor: '#fff'
            },
            xaxis: {
                show: true,
                mode: "time"// ("time" requires jquery.flot.time.js plugin)
            }
        };


        var plot = jQuery.plot(jQuery("#basicflot"),
            [{
                data: uploads,
                label: "عقود محوله",
                color: "#1CAF9A"
            }],
            options

        );




        var previousPoint = null;
        jQuery("#basicflot").bind("plothover", function (event, pos, item) {
            jQuery("#x").text(pos.x.toFixed(2));
            jQuery("#y").text(pos.y.toFixed(2));

            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    jQuery("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);

                    showTooltip(item.pageX, item.pageY,
                        item.series.label + ' ' +parseInt(y) + " منذ " + (dayOfYear - x) + " يوم "
                     //   dateFromDay(x)
                    ); //+ " = " + y);
                }

            } else {
                jQuery("#tooltip").remove();
                previousPoint = null;
                    }





        });

        function showTooltip(x, y, contents) {
            jQuery('<div id="tooltip" class="tooltipflot">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 5
            }).appendTo("body").fadeIn(200);
        }


                    function dateFromDay(day) {
                        var year = new Date().getYear();
                        var date = new Date(year, 0); // initialize a date in `year-01-01`
                        return new Date(date.setDate(day)); // add the number of days
                    }



    });



                    var dayOfYear = 0;

                    $(document).ready(function () {


                        var now = new Date();
                        var start = new Date(now.getFullYear(), 0, 0);
                        var diff = now - start;
                        var oneDay = 1000 * 60 * 60 * 24;
                        var day = Math.floor(diff / oneDay);
                        dayOfYear = day;



                        (function (factory) {
                            if (typeof define === 'function' && define.amd) {
                                define(['jquery'], factory);
                            } else if (typeof module === 'object' && typeof module.exports === 'object') {
                                factory(require('jquery'));
                            } else {
                                factory(jQuery);
                            }
                        }(function (jQuery) {
                            function numpf(n, a) {
                                return a[plural = n === 0 ? 0 : n === 1 ? 1 : n === 2 ? 2 : n % 100 >= 3 && n % 100 <= 10 ? 3 : n % 100 >= 11 ? 4 : 5];
                            }

                            jQuery.timeago.settings.strings = {
                                prefixAgo: "منذ",
                                prefixFromNow: "بعد",
                                suffixAgo: null,
                                suffixFromNow: null, // null OR "من الآن"
                                second: function (value) {
                                    return numpf(value, [
                                        'أقل من ثانية',
                                        'ثانية واحدة',
                                        'ثانيتين',
                                        '%d ثوانٍ',
                                        '%d ثانية',
                                        '%d ثانية']);
                                },
                                seconds: function (value) {
                                    return numpf(value, [
                                        'أقل من ثانية',
                                        'ثانية واحدة',
                                        'ثانيتين',
                                        '%d ثوانٍ',
                                        '%d ثانية',
                                        '%d ثانية']);
                                },
                                minute: function (value) {
                                    return numpf(value, [
                                        'أقل من دقيقة',
                                        'دقيقة واحدة',
                                        'دقيقتين',
                                        '%d دقائق',
                                        '%d دقيقة',
                                        'دقيقة']);
                                },
                                minutes: function (value) {
                                    return numpf(value, [
                                        'أقل من دقيقة',
                                        'دقيقة واحدة',
                                        'دقيقتين',
                                        '%d دقائق',
                                        '%d دقيقة',
                                        'دقيقة']);
                                },
                                hour: function (value) {
                                    return numpf(value, [
                                        'أقل من ساعة',
                                        'ساعة واحدة',
                                        'ساعتين',
                                        '%d ساعات',
                                        '%d ساعة',
                                        '%d ساعة']);
                                },
                                hours: function (value) {
                                    return numpf(value, [
                                        'أقل من ساعة',
                                        'ساعة واحدة',
                                        'ساعتين',
                                        '%d ساعات',
                                        '%d ساعة',
                                        '%d ساعة']);
                                },
                                day: function (value) {
                                    return numpf(value, [
                                        'أقل من يوم',
                                        'يوم واحد',
                                        'يومين',
                                        '%d أيام',
                                        '%d يومًا',
                                        '%d يوم']);
                                },
                                days: function (value) {
                                    return numpf(value, [
                                        'أقل من يوم',
                                        'يوم واحد',
                                        'يومين',
                                        '%d أيام',
                                        '%d يومًا',
                                        '%d يوم']);
                                },
                                month: function (value) {
                                    return numpf(value, [
                                        'أقل من شهر',
                                        'شهر واحد',
                                        'شهرين',
                                        '%d أشهر',
                                        '%d شهرًا',
                                        '%d شهر']);
                                },
                                months: function (value) {
                                    return numpf(value, [
                                        'أقل من شهر',
                                        'شهر واحد',
                                        'شهرين',
                                        '%d أشهر',
                                        '%d شهرًا',
                                        '%d شهر']);
                                },
                                year: function (value) {
                                    return numpf(value, [
                                        'أقل من عام',
                                        'عام واحد',
                                        '%d عامين',
                                        '%d أعوام',
                                        '%d عامًا']);
                                },
                                years: function (value) {
                                    return numpf(value, [
                                        'أقل من عام',
                                        'عام واحد',
                                        'عامين',
                                        '%d أعوام',
                                        '%d عامًا',
                                        '%d عام']);
                                }
                            };

                            $("time.timeago").timeago();

                        }));




                    })





</script>
