﻿
@using System.Globalization;
@model  WebAdo.HomePage
@{
    ViewBag.Title = "الصفحه الرئيسيه";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}


<div class="row">

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-success panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="~/Theme/images/is-user.png" alt="">
                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">عدد العملاء</small>
                            <h1>@Model.People.CustomerCount</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">مندوبين</small>
                            <h4>@Model.People.SalesRepCount</h4>
                        </div>

                        <div class="col-xs-6">
                            <small class="stat-label">موظفين</small>
                            <h4>@Model.People.EmpCount</h4>
                        </div>
                    </div><!-- row -->
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-6 col-md-2">
        <div class="panel panel-danger panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="~/Theme/images/is-document.png" alt="">
                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">عقود مفتوحة</small>
                            <h1>@Model.Loans.Open</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <small class="stat-label"> حتي </small>
                    <h4>@Model.Loans.OpenTill.ToShortDateString()  @Model.Loans.OpenTill.ToShortTimeString() </h4>

                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-6 col-md-2">
        <div class="panel panel-primary panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="~/Theme/images/is-document.png" alt="">
                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">عقود مرفوضه</small>
                            <h1>@Model.Loans.Declined</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <small class="stat-label"> حتي </small>
                    <h4>@Model.Loans.DeclinedTill.ToShortDateString()  @Model.Loans.DeclinedTill.ToShortTimeString() </h4>

                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-6 col-md-2">
        <div class="panel panel-success panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="~/Theme/images/is-document.png" alt="">
                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">عقود مكتمله</small>
                            <h1>@Model.Loans.Complted</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <small class="stat-label"> حتي </small>
                    <h4>@Model.Loans.CompltedTill.ToShortDateString()  @Model.Loans.CompltedTill.ToShortTimeString() </h4>

                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-dark panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="~/Theme/images/is-money.png" alt="">
                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">اجمالي العقود</small>
                            <h1>@Model.Loans.All</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">مفتوحة</small>
                            <h4>@Model.Loans.Open</h4>
                        </div>

                        <div class="col-xs-6">
                            <small class="stat-label">مغلقة</small>
                            <h4>@(Model.Loans.All - Model.Loans.Open )</h4>
                        </div>
                    </div><!-- row -->

                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="col-md-12">
                    <h3 >مؤشر العقود الجديده حتي 30 يوم</h3>
                    <div id="basicflot" style="width: 100%; height: 300px; margin-bottom: 20px; padding: 0px; position: relative;"></div>
                </div><!-- col-sm-8 -->
                <!-- col-sm-4 -->
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-body">
                <h3>  النسبه المؤيه لحاله الطلبات</h3>
                <div id="donut-chart2" class="ex-donut-chart">
                </div>
            </div><!-- panel-body -->
        </div><!-- panel -->

    </div>


</div>


<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">

                @if (Model.DelayedLoans1.Count > 0)
                {
                    <h3>الطلبات المقبوله المتأخره</h3>
                    <div class="col-md-12">
                       
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th>رقم الطلب</th>
                                        <th>تاريخ الحركه</th>
                                        <th>الوقت</th>
                                        <th>اسم العميل</th>

                                        
                                        <th>منذ..</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.DelayedLoans1)
                                    {
                                        <tr>
                                            <td>
                                                @Html.ActionLink(item.LoanID.ToString(), "Details", "LoanRequest",
                                       new { id = item.LoanID }, null)
                                            </td>
                                            <td>@item.lastAudit.AuditDate.ToShortDateString() </td>
                                            <td>@item.lastAudit.AuditDate.ToShortTimeString() </td>
                                            <td>@item.Customer.UsersInfo.FullName</td>

                                           
                                            <td>

                                                <time class="timeago aRed " tooltip="item.lastAudit.AuditDate"
                                                      datetime="@item.lastAudit.AuditDate.ToString(new System.Globalization.CultureInfo("en-US"))"></time>

                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        
                       
                    </div>

                }
                else
                {<h4>لايوجد عقود مقبوله متاخره</h4> }

               
                @if (Model.DelayedLoans4.Count > 0)
                {
                    <h3>الطلبات لدي الفروع المتأخره</h3>
                    <div class="col-md-12">

                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>رقم الطلب</th>
                                    <th>تاريخ الحركه</th>
                                    <th>الوقت</th>
                                    <th>اسم العميل</th>

                                    <th>الفرع</th>
                                    <th>منذ..</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.DelayedLoans4)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.LoanID.ToString(), "Details", "LoanRequest",
                                       new { id = item.LoanID }, null)
                                        </td>
                                        <td>@item.lastAudit.AuditDate.ToShortDateString() </td>
                                        <td>@item.lastAudit.AuditDate.ToShortTimeString() </td>
                                        <td>@item.Customer.UsersInfo.FullName</td>

                                        <td>@item.Branch.BranchName</td>
                                        <td>
                                            
                                            @Html.Partial("~/Views/Shared/Components/_timeAgo.cshtml",
                                           new _app.model.TimeAgo { Class = "aRed", Date = item.lastAudit.AuditDate } )

                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>


                    </div>

                }
                else
                {<h4>لايوجد عقود لدي الفروع متاخره</h4> }


                @if (Model.DelayedLoans5.Count > 0)
                {
                    <h3>الطلبات لدي البنك المتأخره</h3>
                    <div class="col-md-12">

                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>رقم الطلب</th>
                                    <th>تاريخ الحركه</th>
                                    <th>الوقت</th>
                                    <th>اسم العميل</th>

                                    <th>المندوب البنكي</th>
                                    <th>منذ..</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.DelayedLoans5)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.LoanID.ToString(), "Details", "LoanRequest",
                                       new { id = item.LoanID }, null)
                                        </td>
                                        <td>@item.lastAudit.AuditDate.ToShortDateString() </td>
                                        <td>@item.lastAudit.AuditDate.ToShortTimeString() </td>
                                        <td>@item.Customer.UsersInfo.FullName</td>

                                        <td>
                                        @Html.ActionLink(item.BankRepresentative.UsersInfo.FullName, "Details", "BankRepresentatives",
                                       new { id = item.BankRepID }, null)
                                        
                                        </td>
                                        <td>

                                            <time class="timeago aRed " tooltip="item.lastAudit.AuditDate"
                                                  datetime="@item.lastAudit.AuditDate.ToString(new System.Globalization.CultureInfo("en-US"))"></time>

                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>


                    </div>

                }
                else
                {<h4>لايوجد عقود لدي البنك متاخره</h4> }


                </div>
            </div>
        </div>
     <div class="col-md-4">
        <div class="col-xs-7">
            <div class="panel panel-warning panel-alt widget-today">
                <div class="panel-heading text-center">
                    <i class="fa fa-calendar-o"></i>
                </div>
                <div class="panel-body text-center">
                    <h4 >
                    @_app.ui.DateNow.ToShortDateString()</h4>
                </div><!-- panel-body -->
            </div><!-- panel -->
        </div>
        <div class="col-xs-5">
            <div class="panel panel-danger panel-alt widget-time">
                <div class="panel-heading text-center">
                    <i class="glyphicon glyphicon-phone"></i>
                </div>
                <div class="panel-body text-center">
                <h5>رصيد موبيلي</h5>
                    <h3>@Model.SmsBalance</h3>
                </div><!-- panel-body -->
            </div><!-- panel -->
        </div>
    </div>
    </div>




                <script type="text/javascript">

    $(document).ready(function () {

        var uploads = @Html.Raw(Model.NewContrack);

        var options = {
            series: {
                lines: { show: true },
                points: { show: true }
            },
            grid: {
                hoverable: true,
                clickable: true,
                borderColor: '#ddd',
                borderWidth: 1,
                labelMargin: 10,
                backgroundColor: '#fff'
            },
            xaxis: {
                show: true,
                mode: "time"// ("time" requires jquery.flot.time.js plugin)
            }
        };


        var plot = jQuery.plot(jQuery("#basicflot"),
            [{
                data: uploads,
                label: "عقود جديده",
                color: "#1CAF9A"
            }],
            options

        );




        var previousPoint = null;
        jQuery("#basicflot").bind("plothover", function (event, pos, item) {
            jQuery("#x").text(pos.x.toFixed(2));
            jQuery("#y").text(pos.y.toFixed(2));

            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    jQuery("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);

                    showTooltip(item.pageX, item.pageY,
                        item.series.label + ' ' +parseInt(y) + " منذ " + (dayOfYear - x) + " يوم "
                     //   dateFromDay(x)
                    ); //+ " = " + y);
                }

            } else {
                jQuery("#tooltip").remove();
                previousPoint = null;
                    }





        });

        function showTooltip(x, y, contents) {
            jQuery('<div id="tooltip" class="tooltipflot">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 5
            }).appendTo("body").fadeIn(200);
        }


                    function dateFromDay(day) {
                        var year = new Date().getYear();
                        var date = new Date(year, 0); // initialize a date in `year-01-01`
                        return new Date(date.setDate(day)); // add the number of days
                    }


        var don = @Html.Raw(Json.Encode(@Model.Donut));
        var m1 = new Morris.Donut({
            element: 'donut-chart2',
            data : don

            //data: [
            //    { label: "Chrome", value: 30 },
            //    { label: "Firefox", value: 20 },
            //    { label: "Opera", value: 20 },
            //    { label: "Safari", value: 20 },
            //    { label: "Internet Explorer", value: 10 }
            //]


            , colors: ['#D9534F', '#1CAF9A', '#428BCA', '#5BC0DE', '#428BCA']
        });


    });



                  





</script>
