﻿@model  WebAdo.SearchPage


@{
    ViewBag.Title = "نتائج البحث عن " + Model.Keyword;
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<script type="text/javascript" src="~/Theme/js/jquery.highlight-5.js"></script>

@if (Model.Loans.Count == 0 && Model.Users.Count == 0)
{
    <div class="col-md-12">
        <div class="people-item">
            <div class="media">
                <div class="media-body">
                    <div class="text-center">
                        <h2>لم يفلح بحثك بالعثور علي نتائج</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

else
{
                <div class="row">
                    @if (Model.Users.Count > 0)
                    {
                        <div class="col-md-12">
                            <div class="people-item">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <h3>الافراد</h3>
                                        </div>


                                        <table class="table dataTable">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>الاسم</th>
                                                    <th>رقم العاتف</th>
                                                    <th>حاله الحساب</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Users)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img class="userinfoTbaleImg" src="@item.Photo" alt="">
                                                        </td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(item.FullName.Trim()))
                                                            { item.FullName.ToString();
                                                            }
                                                            else
                                                            {
                                                                <span class="aRed">غير محدد</span>
                                                            }

                                                        </td>
                                                        <td>
                                                            @item.PhoneNumber
                                                        </td>
                                                        <td>
                                                            @if (item.ActiveAccount)
                                                            { <span class="info">حساب نشط</span> }
                                                            else
                                                            { <span class="aRed">حساب موقوف</span>}
                                                        </td>

                                                        <td>


                                                            @if (item.AccountType == "Customer")
                                                            { <a href="@Url.Action("Details","Customers",new { id = item.UserID })">عميل</a> }

                                                            @if (item.AccountType == "SalesRepresentative")
                                                            { <a href="@Url.Action("Details","SalesRepresentatives", new { id= item.UserID })">مندوب</a> }
                                                            @if (item.AccountType == "BankRepresentative")
                                                            { <a href="@Url.Action("Details","BankRepresentatives", new { id = item.UserID })">مندوب بنك</a> }
                                                            @if (item.AccountType == "Empolyee")
                                                            { <a href="@Url.Action("Details", "Employe", new { id = item.UserID })">موظف</a> }



                                                        </td>

                                                    </tr>

                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>




                <div class="row">
                    @if (Model.Loans.Count > 0)
                    {
                        <div class="col-md-12">
                            <div class="people-item">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <h3>العقود</h3>
                                        </div>


                                        <table class="table dataTable">
                                            <thead>
                                                <tr>
                                                    <th>رقم الطلب</th>
                                                    <th>تاريخ الطلب</th>
                                                    <th>الوقت</th>
                                                    <th>اسم العميل</th>
                                                    <th>الراتب الشهري</th>

                                                    <th>البنك</th>
                                                    <th>حاله الطلب</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.Loans)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.ActionLink(item.LoanID.ToString(), "Details", "LoanRequest",
                                                                new { id = item.LoanID }, null)
                                                        </td>
                                                        <td>@item.RequestDate.ToShortDateString() </td>
                                                        <td>@item.RequestDate.ToShortTimeString() </td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(item.Customer.UsersInfo.FullName.Trim()))
                                                            { <a href="@Url.Action("Details","Customers",new { id = item.CustomerID })">@item.Customer.UsersInfo.FullName</a> }
                                                            else
                                                            {
                                                                <span class="aRed">غير محدد</span>
                                                            }
                                                        </td>
                                                        <td>@item.Salary ر.س</td>

                                                        <td>@item.Bank.BankName</td>
                                                        <td>@item.LoanStatus.StatusName</td>

                                                    </tr>
                                                }
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                }


                <script type="text/javascript">

    $(document).ready(function() {

        var str = '@Model.Keyword';

        var sa = str.split(' ');

       var arrayLength = sa.length;
        for (var i = 0; i < arrayLength; i++) {
            $('table').highlight(sa[i]);
        }


        $('#keyword').val(str);
      //


    });



                </script>
