﻿<!DOCTYPE html>


@{

    ViewBag.Title = "تطبيق حلول ماليه لجميع متعثراتك ومعالجه ايقاف الخدمات";

 }

<html lang="en">
<head>
    @*<title>
        تطبيق حلول ماليه لجميع متعثراتك
        ومعالجه ايقاف الخدمات
    </title>*@
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Styles -->


    <link href='~/theme/vendor/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/theme/fonts/Stroke-Gap-Icons-Webfont/style.css" rel="stylesheet" type="text/css" />
    <!-- components -->
    <link href="~/theme/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/vendor/owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/vendor/slider-pro/dist/css/slider-pro.min.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/vendor/slick-carousel/slick/slick.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/vendor/animate.css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/vendor/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body data-scrolling-animations="true">
    <div id="page-preloader"><span class="spinner"></span></div>
    <!-- ========================== -->
    <!-- Navigation -->
    <!-- ========================== -->
    <header class="header scrolling-header"></header><!--./navigation -->
    <!-- ========================== -->
    <!-- HOME - HEADER -->
    <!-- ========================== -->
    <section class="top-header home-header with-bottom-effect transparent-effect dark">
        <div class="bottom-effect"></div>
        <div class="header-container">
            <div class="wrap-section-slider" ">
                <div class="sp-slides">
                    <div class="slide-item sp-slide">
                        <div class="slide-image">

                            <img src="/Theme/images/sections/section-11.jpg" alt="" />
                        </div>
                        <div class="slide-content ">
                            <p class="top-title sp-layer" data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="100">تحميل التطبيق</p>
                            <div class="title sp-layer" data-show-transition="right" data-hide-transition="up" data-show-delay="500" data-hide-delay="150">سداد القروض</div>
                            <div class="title sp-layer" data-show-transition="right" data-hide-transition="up" data-show-delay="500" data-hide-delay="150">حلول متعثراتك</div>
                            <div class="controls sp-layer" data-show-transition="up" data-hide-transition="up" data-show-delay="800" data-hide-delay="250">
                                <a href="https://play.google.com/store/apps/details?id=com.sadadalqrod.world_designs.com" target="_blank"><i><img src="~/Theme/images/gplay.png" /></i></a>
                                <a href="https://itunes.apple.com/us/app/%D8%AD%D9%84%D9%88%D9%84-%D9%85%D8%AA%D8%B9%D8%AB%D8%B1%D8%A7%D8%AA%D9%83/id1358956958?ls=1&mt=8" target="_blank"><i><img src="~/Theme/images/astore.png" /></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--container-->
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 text-right">
                <div class="clearfix " style="padding-right: 3px;">

                    <h4>سداد القروض</h4>
                </div>
                <div><em>شركة سعودية معتمدة تتيح لك</em></div>
                <div class="design-arrow inline-arrow"></div>
                <p class="large">
                    معالجه جميع المشاكل الماليه
                    وتوحيد جميع مديونياتك الي جهه واحده
                    ومعالجه ايقاف الخدمات والاقساط المتاخره والمتعثرات عليك

                    <br>
                    الاستفسار تواصل مع الدعم الفني : 0555035615
                </p>
            </div>
            <div class="col-md-5 col-sm-5 text-center">
                <img src="~/Theme/images/areas.png" alt="" class="img-responsive" />
            </div>
        </div>
    </div>

    <!-- ========================== -->
    <!-- HOME - VIDEO SECTION -->
    <!-- ========================== -->
    <section class="video-section with-bottom-effect dark dark-strong">
        <div class="video-play" id="video-play" data-property="{videoURL:'https://www.youtube.com/watch?v=QYuAYNdNPmY',containment:'#video-play',autoPlay:true, mute:true, startAt:0, opacity:1}"></div>
        <div class="bottom-effect"></div>
        <div class="container dark-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title">شاهد الفيديو</div>

                    <a href="https://www.youtube.com/watch?v=QYuAYNdNPmY&t=4s" class="btn-play fancybox-video"></a>

                </div>
            </div>
        </div>
    </section>

    <!-- Scripts -->
    <!-- components -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Theme/vendor/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Theme/vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Theme/vendor/owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <script src="~/Theme/vendor/waypoints/lib/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/Theme/vendor/slider-pro/dist/js/jquery.sliderPro.min.js" type="text/javascript"></script>
    <script src="~/Theme/vendor/slick-carousel/slick/slick.min.js" type="text/javascript"></script>
    <script src="~/Theme/vendor/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js" type="text/javascript"></script>
    <script src="~/Theme/vendor/wow/dist/wow.min.js" type="text/javascript"></script>
    <script src="~/Theme/vendor/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="~/Theme/js/wecomePage/modernizr.js" type="text/javascript"></script>
    <!-- custom scripts -->
    <script src="~/Theme/js/wecomePage/contact.js" type="text/javascript"></script>
    <script src="~/Theme/js/wecomePage/custom.js" type="text/javascript"></script>
    <script src="~/Theme/js/wecomePage/map.js" type="text/javascript"></script>
</body>
</html>

