﻿@model LoanApp.Models.DataBaseModel.Commitment

@{
    ViewBag.Title = "حذف الالتزام";
    Layout = "~/Views/Shared/_masterLoanActionLayout.cshtml";
}




<div class="col-md-12">
    @Html.Partial("~/Views/Shared/_LoanRequestInfoBubble.cshtml", Model.LoansRequest)
</div>


<div class="panel">
    <div class="panel-body">




        <h3>لا يمكن العوده من هذه الخطوه ،هل انت متاكد ؟</h3>
        <div>


            <fieldset>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-11 ">


                    <div class="col-md-7">

                        <div class="mb10">
                            @Html.LabelFor(x => x.CommitmentName, "الاسم", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.CommitmentName, new { @class = "form-control", @placeholder = "الاسم", @disabled = "disabled" })
                        </div>
                        <div class="mb10">
                            @Html.LabelFor(x => x.CommitmentValue, "القيمه", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.CommitmentValue, new { @class = "form-control", @placeholder = "القيمه", @disabled = "disabled" })
                        </div>
                    </div>





                    <div class="row">
                    </div>

                </div>
            </fieldset>




            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                <div class="row">
                    <div class="col-md-offset-2 col-md-2">

                        <input type="submit" value="حذف" class="btn btn-danger" />
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("عوده", "Index", new { id = Model.LoanID }, new { @class = "btn btn-orange" })


                    </div>
                </div>
            }
        </div>
    </div>
</div>