﻿@model  LoanApp.Models.DataBaseModel.LoansRequest

@{
    ViewBag.Title = "الالتزامات";
    Layout = "~/Views/Shared/_masterLoanActionLayout.cshtml";
}





<div class="col-md-12">
    @Html.Partial("~/Views/Shared/_LoanRequestInfoBubble.cshtml", Model)
</div>


<div class="panel">
    <div class="panel-body">




        <div class="row">
            <div class=" col-md-12">
                @if (Model.Commitments.Count > 0)
                {
                    <table class="table dataTable table-striped">
                        <tr>
                            <th>
                                الاسم
                            </th>
                            <th>
                                القيمه
                            </th>
                            <th>

                            </th>

                        </tr>

                        @foreach (var item in Model.Commitments)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CommitmentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CommitmentValue) ر.س
                                </td>


                                <td>
                                    <div class="row">
                                        <div class="col-md-4">

                                        </div>

                                        <div class="col-md-4">
                                            <a href="@Url.Action("Edit", new { id = item.CommitmentID })" title="تعديل البيانات"><i class="fa fa-pencil"></i></a>
                                        </div>

                                        <div class="col-md-4">
                                            <a href="@Url.Action("Delete", new { id = item.CommitmentID })" class="delete-row danger aRed" title="حذف الالتزام"><i class="fa fa-trash-o"></i></a>
                                        </div>

                                    </div>



                                </td>

                            </tr>
                        }

                    </table>
                }
                else
                { <h3>لا يوجد اي التزمات تحت هذا العقد</h3>}
            </div>
            <div class="col-md-2"></div>
        </div>


        <div class="row">

            <div class="col-md-3">
                @Html.ActionLink("اضافه التزام جديد", "Create", new { id = Model.LoanID }, new { @class = "btn btn-brown" })
            </div>
            <div class="col-md-3">
                @Html.ActionLink("تعديل بيانات الطلب", "Edit", "LoanActions", new { id = Model.LoanID }, new { @class = "btn btn-darkblue" })
            </div>
            <div class="col-md-3">
                @Html.ActionLink("عوده", "Details", "LoanRequest", new { id = Model.LoanID }, new { @class = "btn btn-orange" })
            </div>

        </div>
    </div>
</div>
