﻿
@model LoanApp.Models.DataBaseModel.LoginModel

@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Theme/images/favicon.png" type="image/png">
    <title>Loan App</title>
   
    <link href="~/Theme/css/style.default.login.css" rel="stylesheet">
    <link href="~/Theme/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="~/Theme/css/bootstrap-override-rtl.css" rel="stylesheet">
    <link href="~/Theme/css/style.default-rtl.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->
    <script src="~/Theme/js/jquery-1.11.1.min.js"></script>
    <script src="~/Theme/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Theme/js/bootstrap.min.js"></script>
    <script src="~/Theme/js/modernizr.min.js"></script>
    <script src="~/Theme/js/retina.min.js"></script>
    <script src="~/Theme/js/custom.js"></script>

</head>
<body class="signin">
    <!-- Preloader -->

 

    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <section>

        <div class="signinpanel">

            <div class="row">

                <div class="col-md-7">

                    <div class="signin-info">
                        <div class="logopanel">
                            <h1><span>[</span> Ealan Najd Company <span>]</span></h1>
                        </div><!-- logopanel -->

                        <div class="mb20"></div>

                        <h5><strong>اهلا بكم بلوحة التحكم</strong></h5>
                        @*<ul>
        <li><i class="fa fa-arrow-circle-o-right mr5"></i> Fully Responsive Layout</li>
        <li><i class="fa fa-arrow-circle-o-right mr5"></i> HTML5/CSS3 Valid</li>
        <li><i class="fa fa-arrow-circle-o-right mr5"></i> Retina Ready</li>
        <li><i class="fa fa-arrow-circle-o-right mr5"></i> WYSIWYG CKEditor</li>
        <li><i class="fa fa-arrow-circle-o-right mr5"></i> and much more...</li>
    </ul>
    <div class="mb20"></div>
    <strong>Not a member? <a href="signup.html">Sign Up</a></strong>*@
                    </div><!-- signin0-info -->

                </div><!-- col-sm-7 -->

                <div class="col-md-5">

                    <form method="post" action="@Url.Action("index","Login")">
                        <h4 class="nomargin">تسجيل الدخول</h4>
                        <p class="mt5 mb20">برجاء ادخال بيانات حسابك</p>

                        @Html.TextBoxFor(x=> x.PhoneNumber, new { @type ="text",@class="form-control uname",
                       @placeholder="رقم الهاتف",@required="" })
                      

                        @Html.TextBoxFor(x => x.Password, new
                   {
                       @type = "password",
                       @class = "form-control pword",
                       @placeholder = "كلمه المرور",
                       @required = ""
                   })
                        <span id="lblerror" name="lblerror" class="aRed">
                            @Model.Message
                        </span>
                        
                        @*<a href=""><small>Forgot Your Password?</small></a>*@
                        <button class="btn btn-success btn-block" type="submit">الدخول</button>

                    </form>
                </div><!-- col-sm-5 -->

            </div><!-- row -->

            <div class="signup-footer">
                <div class="pull-left">
                    © 2018. All Rights Reserved. Ealan Najd Company
                </div>
                <div class="pull-right">
                    Created By: <a href="http://world-designs.com" target="_blank">World Design .co</a>
                </div>
            </div>

        </div><!-- signin -->

      


    </section>

   
  
</body>


</html>
