﻿
@model WebAdo.AccountingAnalysis

@{
    ViewBag.Title = "التحليل المحاسبي";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
    decimal t1 = 0;
}


<div class="panel">
    <div class="panel-body">



        <div class="row">
            <div class="col-md-12">
                <div class="people-item">
                    <div class="media">
                        <div class="media-body">
                            <div class="media-heading">
                                <h3>سندات الصرف</h3>
                            </div>
                            @Html.Partial("~/Views/Shared/_ReceiptsTable.cshtml", Model.receipts)
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="people-item">
                    <div class="media">
                        <div class="media-body">
                            <div class="media-heading">
                                <h3>سندات القبض</h3>
                            </div>




                            @if (Model.Loans.Count > 0)
                            {

                                <table class="table  dataTable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>اسم الفرع</th>
                                            <th>اسم العميل</th>
                                            <th>المندوب</th>
                                            <th>المبلغ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Loans)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="@Url.Action("Details","LoanRequest",new { id = item.LoanID })">
                                                        @item.LoanID
                                                    </a>
                                                </td>
                                                <td>
                                                    @item.Branch.BranchName
                                                </td>
                                                <td>@item.SalesRepresentative.UsersInfo.FullName</td>
                                                <td>@item.Branch.BranchName</td>
                                                <td>@item.ActualFunds</td>
                                                @{ t1 += item.ActualFunds.Value; }
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>الاجمالي: </th>
                                            <th></th>
                                            <th></th>
                                            <td></td>
                                            <th>@t1 ر.س</th>
                                        </tr>
                                    </tfoot>
                                </table>

                            }

                            else
                            {

                                <h2>لايوجد اي اذونات في قاعده البيانات</h2>
                            }





                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

