﻿
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}






<section>

    <div class="notfoundpanel">
        <h1>!404</h1>
        <h3>صفحه غير موجوده</h3>
        <h4>برجاء الاتصال بمدير النظام للمساعده</h4>

    </div><!-- notfoundpanel -->

</section>



<script type="text/javascript">
    $(document).ready(function () {
        $('body').removeClass();
        $('body').addClass('notfound');


    });


</script>
