﻿
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}




<section>

    <div class="notfoundpanel">
        <h1>!500</h1>
        <h3>حدث خطاء بالنظام !</h3>
        <h4>برجاء الاتصال بمدير النظام للمساعده</h4>

    </div><!-- notfoundpanel -->

</section>



<script type="text/javascript">
    $(document).ready(function () {
        $('body').removeClass();
        $('body').addClass('notfound');


    });


</script>