﻿
@model List<LoanApp.Models.DataBaseModel.LoansRequest>

@{
    ViewBag.Title = "العقود المكتمله والمنتهيه";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}



@foreach (var item in Model)
{
    <div class="col-md-6">
        @Html.Partial("~/Views/Shared/_LoanRequestThumbnail.cshtml", item)
        <div class="col-md-12">
            <div class="row">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!-- panel-btns -->
                        <h3 class="panel-title">خيارت</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("Print","LoanActions", new { id = item.LoanID })"
                                   class="btn btn-info">طباعه</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
