﻿@model List<LoanApp.Models.DataBaseModel.LoansRequest>

@{
    ViewBag.Title = "طلبات مرفوضه من قبل البرنامج";
    Layout = "~/Views/Shared/_masterLoanRequest.cshtml";
}



@foreach (var item in Model)
{
    <div class="col-md-6">
        @Html.Partial("~/Views/Shared/_LoanRequestThumbnail.cshtml", item)
    </div>
}




<script type="text/javascript">
    $(document).ready(function () {

        statusid = 2;
    });
</script>