﻿@model LoanApp.Models.DataBaseModel.LoansRequest

@{
    ViewBag.Title = "عقد السيد/ " + @Model.Customer.UsersInfo.FullName;
    Layout = "~/Views/Shared/_masterLayout.cshtml";



}



<div class="col-md-12">
    @Html.Partial("~/Views/Shared/_LoanRequestThumbnail.cshtml", Model)
</div>



@if (Model.StatusID == 9)
{

    <div class="col-md-12">
        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <!-- panel-btns -->
                    <h3 class="panel-title">خيارت</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="@Url.Action("Print","LoanActions", new { id = Model.LoanID })"
                             class="btn btn-info">طباعه</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

                    }




<div class="col-md-12">
    <div class="row">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <!-- panel-btns -->
                <h3 class="panel-title">الملاحظات</h3>
            </div>
            <div class="panel-body" id="note-panel-body">


                @*@if (Model.Notes.Count > 0)
                {

                    <table class="table">
                        <thead>
                            <tr>
                                <th>التاريخ</th>
                                <th>الساعة</th>
                                <th>المستخدم</th>
                                <th>الملاحظه</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Notes)
                            {
                                <tr>
                                    <td>@item.NoteDate.ToShortDateString()</td>
                                    <td>@item.NoteDate.ToShortTimeString()</td>
                                    <td>@item.Employee.UsersInfo.FullName</td>
                                    <td>@item.NoteContent</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                else
                { <h3> لا يوجد ملاحظات علي هذا الطلب</h3> }*@

                

                @Html.Partial("~/Views/Notes/_list.cshtml", Model.Notes.ToList())
            </div>

            <div class="panel-body">

                <div class="row">

                    <div class="col-md-3">
                        <a href="@Url.Action("Create","Notes", new { id = Model.LoanID })"
                           class="btn btn-info">اضافه ملاحظه جديدة</a>
                     
                    </div>

                    

                </div>

            </div>

        </div>
        @Html.HiddenFor(x => x.LoanID)
    </div>
</div>





                    <div class="col-md-12">
                        <div class="row">

                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <!-- panel-btns -->
                                    <h3 class="panel-title">التدقيق</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>توع الحساب</th>
                                                <th>المستخدم</th>
                                                <th>التاريخ</th>

                                                <th>الساعة</th>
                                                <th>البند</th>
                                                <th>حاله الطلب</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Audits)
                                            {
                                                <tr>
                                                    <td>
                                                        @if (item.UserID != null)
                                                        {
                                                            if (item.UsersInfo.AccountType == "Customer") {<text>عميل</text>; }
                                                            if (item.UsersInfo.AccountType == "SalesRepresentative") {<text>مندوب</text>; }
                                                            if (item.UsersInfo.AccountType == "BankRepresentative") {<text>مندوب بنكي</text>; }
                                                            if (item.UsersInfo.AccountType == "Empolyee") {<text>موظف</text>;
    }
}
                                                    </td>
                                                    <td>
                                                        @if (item.UserID != null)
                                                        { @item.UsersInfo.FullName;
                                                        }
                                                        else
                                                        {<text>النظام</text>;
                                                        }
                                                    </td>
                                                    <td>@item.AuditDate.ToShortDateString()</td>
                                                    <td>@item.AuditDate.ToShortTimeString()</td>
                                                    <td>@item.AuditName</td>
                                                    <td>
                                                        @if (item.NewStatusID != null) {  @item.LoanStatus.StatusName}
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>


