﻿@model LoanApp.Models.DataBaseModel.Bank

@{
    ViewBag.Title = "اضافه بنك جديد";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}



<div class="panel">
    <div class="panel-body">



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()



            <div class="row">


                <div class="col-md-7">


                    @Html.HiddenFor(x => x.BankID)



                    <label class="control-label">الاسم</label>
                    <div class=" mb10">
                        @Html.LabelFor(x => x.IntersetsRate, "الاسم البنك", new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.BankName, new { @class = "form-control", @placeholder = "الاسم البنك", @required = "" })

                    </div>
                    @Html.LabelFor(x => x.IntersetsRate, "معدل الفائده", new { @class = "control-label" })
                    <div class="input-group mb15">

                        <input type="text" id="IntersetsRate" name="IntersetsRate" class="form-control"
                               required number="true" value="@Math.Round(Model.IntersetsRate,2)" />
                        <span class="input-group-addon">%</span>


                    </div>
                    <div class="mb10">
                        <label class="control-label">حاله البنك</label>

                        <div class="">





                            <label class="checkbox-inline">
                                @Html.CheckBoxFor(x => x.Active, new
                           {
                               @checked="checked",
                               @data_toggle = "toggle",
                               @disabled = "",
                               @data_on = "يقبل الطلبات",
                               @data_off = "لا يبقل طلبات"
                           })

                            </label>

                        </div>

                    </div>



                </div>
            </div>



            <div class="row">

            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-2">

                    <input type="submit" value="حفظ" class="btn btn-darkblue " />
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                </div>

            </div>


        }

    </div>
</div>
