﻿@model LoanApp.Models.DataBaseModel.Bank

@{
                /**/

                ViewBag.Title = "حذف";
                Layout = "~/Views/Shared/_masterLayout.cshtml";
                var active = "";
                if (Model != null)
                {
                    if (Model.Active) { active = "checked"; }
                    else { active = ""; }

                }
                else { active = "checked"; }
}


<div class="panel">
    <div class="panel-body">




        @using (Html.BeginForm())
        {
            <h3>هل انت متاكد من حذف بنك @Model.BankName</h3>
            <div class="col-md-11 col-lg-offset-1">



                <div class="row">


                    <div class="col-md-7">


                        @Html.HiddenFor(x => x.BankID)



                        <label class="control-label">الاسم</label>
                        <div class=" mb10">
                            @Html.LabelFor(x => x.IntersetsRate, "الاسم البنك", new { @class = "control-label", })
                            @Html.TextBoxFor(x => x.BankName, new
                       {
                           @class = "form-control",
                           @placeholder = "الاسم البنك",
                           @required = "",
                           @readonly = "readonly"
                       })

                        </div>
                        @Html.LabelFor(x => x.IntersetsRate, "معدل الفائده", new { @class = "control-label" })
                        <div class="input-group mb15">

                            <input type="text" id="IntersetsRate" name="IntersetsRate" class="form-control" readonly="readonly"
                                   required number="true" value="@Math.Round(Model.IntersetsRate,2)" />
                            <span class="input-group-addon">%</span>

                        </div>
                        <div class="mb10">
                            <label class="control-label">حاله البنك</label>

                            <div class="">





                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.Active, new
                               {
                                   active,
                                   @data_toggle = "toggle",
                                   @disabled = "",
                                   @data_on = "يقبل الطلبات",
                                   @data_off = "لا يبقل طلبات"
                               })

                                </label>

                            </div>

                        </div>



                    </div>
                </div>




                @Html.AntiForgeryToken()

                <div class="row"></div>

                <div class="row">
                    <div class="col-md-offset-2 col-md-2">


                        @if (_app.model.bankCanBeDelete(Model))
                        {

                            <input type="submit" value="حذف" class="btn btn-danger " />
                        }
                        else
                        {
                            <div class="row">
                                <input type="submit" value="حذف" class="btn btn-danger " disabled />
                            </div>
                            <div class="row">
                                <span class="infosummary">غير مسموج بمسح هذا البنك لوجود حركات بأسمه في قاعده البيانات</span>
                            </div>



                        }
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("تعديل بيانات", "Edit", new { id = Model.BankID }, new { @class = "btn btn-brown" })
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                    </div>



                </div>
            </div>
        }
    </div>
</div>

