﻿@model LoanApp.Models.DataBaseModel.Bank

@{
    ViewBag.Title = "البنك " + Model.BankName;
    Layout = "~/Views/Shared/_masterLayout.cshtml";
    var active = "";
    if (Model != null)
    {
        if (Model.Active) { active = "checked"; }
        else { active = ""; }

    }
    else { active = "checked"; }
}


<div class="panel">
    <div class="panel-body">




        <div class="row">


            <div class="col-md-7">


                @Html.HiddenFor(x => x.BankID)



                <label class="control-label">الاسم</label>
                <div class=" mb10">
                    @Html.LabelFor(x => x.IntersetsRate, "الاسم البنك", new { @class = "control-label", })
                    @Html.TextBoxFor(x => x.BankName, new { @class = "form-control", @placeholder = "الاسم البنك",
                   @required = "",@readonly = "readonly" })

                </div>
                @Html.LabelFor(x => x.IntersetsRate, "معدل الفائده", new { @class = "control-label" })
                <div class="input-group mb15">

                    <input type="text" id="IntersetsRate" name="IntersetsRate" class="form-control" readonly="readonly"
                           required number="true" value="@Math.Round(Model.IntersetsRate,2)" />
                    <span class="input-group-addon">%</span>

                </div>
                <div class="mb10">
                    <label class="control-label">حاله البنك</label>

                    <div class="">





                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(x => x.Active, new { active, @data_toggle = "toggle", @disabled = "",
                           @data_on = "يقبل الطلبات",
                           @data_off ="لا يبقل طلبات" })

                        </label>

                    </div>

                </div>



            </div>
        </div>
        <p>
            <div class="row">
                <div class="col-md-offset-2 col-md-2">

                    @Html.ActionLink("تعديل", "Edit", new { id = Model.BankID }, new { @class = "btn btn-darkblue" })
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                </div>

            </div>
        </p>
        <br />
        <br />
        <div class="row  col-lg-offset-1">
            <h2>الطلبات </h2>
        </div>

        <div class="row ">
            <div class="col-md-10">
                @Html.Partial("~/views/Shared/_LoanRequest.cshtml", Model.LoansRequests.ToList())
            </div>
        </div>
    </div>
</div>
