﻿@model IEnumerable<LoanApp.Models.DataBaseModel.Bank>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<h2>البنوك</h2>


<div class="panel">
    <div class="panel-body">




        <p>
            @Html.ActionLink("اضافه بنك جديد", "Create", null, new { @class = "btn btn-black" })
        </p>
        <table class="table dataTable">
            <thead>
                <tr>
                    <th>
                        اسم البنك
                    </th>
                    <th>
                        معدل الفائده
                    </th>
                    <th>
                        حاله البنك
                    </th>
                    <th>
                        عدد الممثلين
                    </th>
                    <th>
                        عدد العقود
                    </th>
                    <th>
                        خيارات
                    </th>
                </tr>
            </thead>


            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.BankName, "Details", new { id = item.BankID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IntersetsRate) %
                        </td>
                        <td>

                            @if (item.Active)
                            {<span class="info">يقبل الطلبات</span> }
                            else
                            { <span class="aRed">لا يقبل</span>}


                        </td>
                        <td>
                            @item.BankRepresentatives.Count.ToString() موظف
                        </td>
                        <td>
                            @item.LoansRequests.Count.ToString() عقد
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="@Url.Action("Details", new { id = item.BankID })" title="الصفحه الشخصيه"><i class="fa fa-info"></i></a>
                                </div>

                                <div class="col-md-4">
                                    <a href="@Url.Action("Edit", new { id = item.BankID })" title="تعديل بيانات البنك"><i class="fa fa-pencil"></i></a>
                                </div>

                                <div class="col-md-4">
                                    <a href="@Url.Action("Delete", new { id = item.BankID })" class="delete-row danger aRed" title="حذف البنك"><i class="fa fa-trash-o"></i></a>
                                </div>

                            </div>



                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>