﻿@model List<LoanApp.Models.DataBaseModel.SystemSetup>

@{
    ViewBag.Title = "ContactUsNumbers";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<h2>ارقام التواصل لتطبيق الجوال</h2>




<div class="panel">
    <div class="panel-body">



        @using (Html.BeginForm((string)ViewBag.Contoler, "SystemSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()


            foreach (var item in Model)
            {

                <div class="mb10">
                    @Html.Label(item.Name, new { @class = "control-label" })
                    @Html.TextBox("v_" + item.SID, item.Value, new { @class = "form-control", @required = "" })
                </div>

            }


            <div class="row">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" value="حفظ" class="btn btn-darkblue " />
                </div>
               

            </div>


        }

    </div>
</div>