﻿@model LoanApp.Models.DataBaseModel.Notification

@{
    ViewBag.Title = "تنبيه جديد";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<link href="~/Theme/css/bootstrap-wysihtml5.css" rel="stylesheet" />
<script src="~/Theme/js/wysihtml5-0.3.0.min.js"></script>
<script src="~/Theme/js/bootstrap-wysihtml5.js"></script>


<div class="panel">
    <div class="panel-body">




        @using (Html.BeginForm((string)ViewBag.Contoler, "Notifications", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-md-8">

                <div class="form-horizontal">


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="mb10">
                        @Html.LabelFor(x => x.Header, "العنوان", new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.Header, new { @class = "form-control", @required = "" })
                    </div>

                    <div class="mb10">
                        @Html.LabelFor(x => x.Continet, "المحتوي", new { @class = "control-label" })

                        @*@Html.TextBoxFor(x => x.Continet, new { @class = "wysiwyg", @required = "", class="form-control" rows="10" })*@
                        @Html.TextAreaFor(x => x.Continet, new { @class = "wysiwyg form-control", @required = "", rows = "10", @style = "text-align:right" })
                    </div>


                    <div class="row">
                        <div class="mb10">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <div class="mb10">
                                    @Html.CheckBoxFor(x => x.ToCustomers, new { @onchange = "cbChanged()", @checked = "checked" })
                                    @Html.LabelFor(x => x.ToCustomers, "العملاء", new { @class = "control-label" })

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb10">
                                    @Html.CheckBoxFor(x => x.ToSalesReps, new { @onchange = "cbChanged()" })
                                    @Html.LabelFor(x => x.ToSalesReps, "المندوبين", new { @class = "control-label" })

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb10">
                                    @Html.CheckBoxFor(x => x.ToBankReps, new { @onchange = "cbChanged()" })
                                    @Html.LabelFor(x => x.ToBankReps, "مندوبين البنوك", new { @class = "control-label" })

                                </div>
                            </div>

                        </div>

                    </div>







                </div>


            </div>

            <div class=" col-md-1"></div>
            <div class="col-md-2 text-center">

                <div class="row"><br /> </div>
                <div class="row"><br /></div>
                <div class="row">
                    <img id="Photo" alt="" style="width:200px;height:200px" src="@Model.Photo" />

                </div>
                <div class="row">
                    <input type="file" id="up_photo" name="up_photo" />
                    <br />
                    <hr />
                </div>
                <div class="row">
                    <input type="button" value="مسح الصوره" class="btn btn-danger" onclick="removePhoto()" />
                </div>
            </div>


            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-offset-2 col-md-2">
                        <input type="submit" value="ارسال التنبيه" class="btn btn-darkblue " id="btn_submit" disabled="disabled" />
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                    </div>
                </div>
            </div>
        }

        <script type="text/javascript">

            $(document).ready(function () {

                $('.wysiwyg').wysihtml5({
                    color: false, html: false,
                    "link": false,
                    "image": false
                });


                //    $('#Photo').hide();


            });


            $('#up_photo').change(function () {

                var filepath = $(this).val();
                var ext = filepath.split('.');
                var fext = ext[ext.length - 1]
                fext = fext.toLowerCase();
                if (fext == 'jpg' || fext == 'png' || fext == 'jpeg') {
                    var reader = new FileReader();

                    reader.readAsDataURL($(this).prop('files')[0]);
                    reader.onload = function (event) {
                        $('#Photo').attr('src', event.target.result);
                    };
                    $('#Photo').show();
                }
                else { alert('مسموح فقط .jpg , .png or .jpeg بتلك انواع الصور !'); $(this).val(''); }
            });

            function removePhoto() {
                $('#Photo').attr('src', '');
                $('#up_photo').val('');
                $('#Photo').hide();
            }


            function cbChanged() {
                // alert($(cb).is(':checked'));
                var i = 0;

                if ($('#ToCustomers').is(':checked')) { i += 1; }
                if ($('#ToSalesReps').is(':checked')) { i += 1; }
                if ($('#ToBankReps').is(':checked')) { i += 1; }

                if (i > 0) { $('#btn_submit').val(' ارسال التنبيه (' + i + ')'); $('#btn_submit').removeAttr('disabled'); }
                else { $('#btn_submit').attr('disabled', 'disabled'); $('#btn_submit').val('ارسال التنبيه'); }

            }

        </script>
    </div>
</div>
