﻿@model IEnumerable<LoanApp.Models.DataBaseModel.Notification>

@{
    ViewBag.Title = "التنبيهات";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}


<p>
    @Html.ActionLink("تنبيه جديد !", "Create", null, new { @class = "btn btn-black" })
</p>


<div class="panel">
    <div class="panel-body">


        @foreach (var item in Model)
        {

            <div class="col-md-6">

                <div class="panel panel-default panel-timeline">
                    <div class="panel-heading">

                        <div class="media">
                            <a href="#" class="pull-left">
                                <img alt="" src="@item.Employee.UsersInfo.Photo" class="media-object">
                            </a>
                            <div class="media-body">
                                <h4 class="text-primary">@item.Employee.UsersInfo.FullName</h4>
                                <small class="text-muted">@item.SentDate.ToShortDateString() , @item.SentDate.ToLongTimeString()</small>
                            </div>
                        </div><!-- media -->

                    </div><!-- panel-heading -->
                    <div class="panel-body">

                        <div class="media">
                            @if (item.Photo != null)
                            {
                                <a href="#" class="pull-left">
                                    <img alt="" src="@item.Photo" class="media-object">
                                </a>
                            }
                            <div class="media-body">
                                <h4><a href="">@item.Header </a></h4>
                                @Html.Raw(@item.Continet)

                            </div>
                        </div>


                    </div><!-- panel-body -->
                    <div class="panel-footer">
                        <div class="media">
                            <a href="#" class="pull-left">

                            </a>
                            <div class="media-body">

                                <div class="row">

                                    @if (item.ToCustomers == true)
                                    {
                                        <div class="col-md-4">
                                            <div class="checkbox block">
                                                <label>
                                                    <input type="checkbox" checked="" disabled="">
                                                    العملاء
                                                </label>
                                            </div>
                                        </div>
                                    }

                                    @if (item.ToSalesReps == true)
                                    {
                                        <div class="col-md-4">
                                            <div class="checkbox block">
                                                <label>
                                                    <input type="checkbox" checked="" disabled="">
                                                    المندوبين
                                                </label>
                                            </div>
                                        </div>
                                    }

                                    @if (item.ToBankReps == true)
                                    {
                                        <div class="col-md-4">
                                            <div class="checkbox block">
                                                <label>
                                                    <input type="checkbox" checked="" disabled="">
                                                    مندوبين البنوك
                                                </label>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div><!-- media -->
                    </div>
                </div>

            </div>


        }
    </div>
</div>
