﻿@model LoanApp.Models.DataBaseModel.LoansRequest
@{
    ViewBag.Title = "عقد استوفي البيانات البنكيه";
    Layout = "~/Views/Shared/_masterLoanActionLayout.cshtml";
}




<div class="col-md-12">
    @Html.Partial("~/Views/Shared/_LoanRequestThumbnail.cshtml", Model)
</div>

<div class="panel">
    <div class="panel-body">



        <div class="col-md-12">
            <div class="row">

                <div class="panel panel-dark">

                    <form method="post" action="">
                        <div class="panel-heading">
                            <!-- panel-btns -->
                            @Html.HiddenFor(x => x.LoanID)

                            <h3 class="panel-title">قبول او رفض العقد ؟</h3>
                        </div>
                        <div class="panel-body text-center">

                            @if (Model.StatusID == 1 || Model.StatusID == 2)
                            {

                                <div class="row">
                                    @Html.TextAreaFor(x => x.DeclineReason, new
                                {
                                    @class = "form-control",
                                    @placeholder = "سبب الرفض",
                                    @required = "",
                                    @rows = 5

                                })

                                </div>

                            }



                            <div class="row">


                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                    @if (Model.StatusID == 7)
                                    {<input type="submit" class="btn btn-default" value="قبول" name="action:Accept" />}

                                </div>
                                <div class="col-md-3">
                                    <input type="submit" class="btn btn-danger" value="رفض" name="action:Decline" />
                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>
                        </div>
                    </form>




                </div>

            </div>
        </div>


    </div>
</div>