﻿@model LoanApp.Models.DataBaseModel.LoansRequest
@{
    ViewBag.Title = "استيفاء المعلومات البنكيه يدويا";
    Layout = "~/Views/Shared/_masterLoanActionLayout.cshtml";
}



<div class="col-md-12">
    @Html.Partial("~/Views/Shared/_LoanRequestThumbnail.cshtml", Model)
</div>

<div class="panel">
    <div class="panel-body">




        <div class="col-md-12">
            <div class="row">

                <div class="panel panel-dark">

                    <form method="post" action="@Url.Action("AddBankData", "LoanActions")">
                        <div class="panel-heading">
                            <!-- panel-btns -->
                            @Html.HiddenFor(x => x.LoanID)

                            <h3 class="panel-title">استيفاء المعلومات البنكيه</h3>
                        </div>
                        <div class="panel-body">


                            <label class="control-label">ادراج البيانات من قبل الموظف @_app.ui.current.User.FullName</label>
                            <div class="row mb10">
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(x => x.Salary3Month, new { @class = "form-control", @placeholder = "اخر راتب اخر 3 شهور",
                                   @required = "required",
                                   @number = "true" })



                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(x => x.MaxFunds, new { @class = "form-control", @placeholder = "التمويل", @required = "required", @number = "true" })

                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(x => x.EarlyPayment, new { @class = "form-control", @placeholder = "السداد المبكر", @required = "required", @number = "true" })
                                </div>
                            </div>



                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-default" value="ادراج" />
                            </div>

                        </div>
                    </form>




                </div>

            </div>
        </div>


    </div>
</div>
