﻿@model LoanApp.Models.DataBaseModel.LoansRequest

@{
    ViewBag.Title = "اكمال بيانات القرض";
    Layout = "~/Views/Shared/_masterLoanActionLayout.cshtml";
}




<div class="col-md-12">
    @Html.Partial("~/Views/Shared/_LoanRequestThumbnail.cshtml", Model)
</div>


<div class="panel">
    <div class="panel-body">



        <div class="col-md-12">
            <div class="row">

                <div class="panel panel-dark">

                    <form method="post" action="@Url.Action("AddLoanFundData", "LoanActions")">
                        <div class="panel-heading">
                            <!-- panel-btns -->
                            @Html.HiddenFor(x => x.LoanID)

                            <h3 class="panel-title">من فضلك اكمل باقي البيانات قبل الارسال الي الفرع الرئيسي</h3>
                        </div>
                        <div class="panel-body">



                            <div class="mb10">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.BankAccount, "من حساب رقم", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.BankAccount, new { @class = "form-control", @placeholder = "من حساب رقم", @required = "", @number = "true" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.ActualFunds, "المبلغ", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.ActualFunds, new { @class = "form-control", @placeholder = "المبلغ", @required = "", @number = "true" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.FundBankID, "البنك المحول عليه", new { @class = "control-label" })
                                            @Html.DropDownList("BankID", null, htmlAttributes: new { @class = "form-control" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <br />
                                <br />
                            </div>
                            <div class="panel-body">
                                <div class="col-md-9">

                                </div>
                                <div class="col-md-3">
                                    <input type="submit" class="btn btn-default" value="اضافه و تحويل للمركز الرئيسي" />
                                </div>
                            </div>
                        </div>
                    </form>


                </div>

            </div>
        </div>

    </div>
</div>
