﻿@model LoanApp.Models.DataBaseModel.LoansRequest

@{
    ViewBag.Title = "رفض طلب من قبل الفرع";
    Layout = "~/Views/Shared/_masterLoanActionLayout.cshtml";
}


<div class="col-md-12">
    @Html.Partial("~/Views/Shared/_LoanRequestThumbnail.cshtml", Model)
</div>


<div class="panel">
    <div class="panel-body">



        <div class="col-md-12">
            <div class="row">
                <div class="panel panel-danger">

                    <form method="post" action="@Url.Action("DeclineLoanByBranch", "LoanActions")">
                        <div class="panel-heading">
                            <!-- panel-btns -->
                            @Html.HiddenFor(x => x.LoanID)
                            <h3 class="panel-title">رفض الطلب من قبل موظف الفرع</h3>
                        </div>
                        <div class="panel-body">

                            <label class="control-label">اسباب الرفض حررت بمعرفه : @_app.ui.current.User.FullName</label>
                            <div class="row mb10">
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(x => x.DeclineReason, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "سبب الرفض",
                                       @required = "",
                                       @rows = 5

                                   })

                                </div>

                            </div>


                            <div class="col-md-6"></div>
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-danger" value="رفـــض" />
                            </div>
                            <div class="col-md-3">

                                @Html.ActionLink("عوده", "index", "Home", null, new { @class = "btn btn-orange" })
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
