﻿@model LoanApp.Models.DataBaseModel.LoansRequest

@{
    ViewBag.Title = "تعديل بيانات الطلب";
    Layout = "~/Views/Shared/_masterLoanActionLayout.cshtml";
}



<div class="col-md-12">
    @Html.Partial("~/Views/Shared/_LoanRequestInfoBubble.cshtml", Model)
</div>


<div class="panel">
    <div class="panel-body">



        <div class="col-md-12">
            <form method="post" action="@Url.Action("Edit", "LoanActions")">
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-danger">


                            <div class="panel-heading">
                                <!-- panel-btns -->
                                @Html.HiddenFor(x => x.LoanID)
                                <h3 class="panel-title">تعديل بيانات الطلب</h3>
                            </div>
                            <div class="panel-body">


                                <div class="col-lg-offset-1  col-md-7">
                                    <div class="mb10">
                                        <label class="control-label">البنك</label>
                                        @Html.DropDownList("BankID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BankID, "", new { @class = "text-danger" })


                                    </div>
                                    <div class="mb10">
                                        <label class="control-label">كود الفرع</label>
                                        @Html.DropDownList("CustomerSelectedBranchID", null, "بدون", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CustomerSelectedBranchID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb10">

                                        @Html.LabelFor(x => x.Salary, "الراتب", new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.Salary, new { @class = "form-control", @placeholder = "الراتب", @required = "", @number = "true" })
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-danger">



                            <div class="panel-body">

                                @if (Model.StatusID == 0 || Model.StatusID == 2 || Model.StatusID == 3 || Model.StatusID == 1)
                                {
                                    <div class="col-md-8">
                                        <input type="submit" value="حفظ و اعاده تقييم الطلب" name="action:SaveAndReEvaluate" class="btn btn btn-brown" />
                                    </div>
                                }
                                else if (Model.StatusID == 10)
                                {
                                    <div class="col-md-4">
                                        <input type="submit" value="حفظ واعد ارساله الي فرع @Model.Branch.BranchName" name="action:SaveAndSendToSameBracnch" class="btn btn btn-darkblue" />
                                    </div>

                                    <div class="col-md-4">
                                        <input type="submit" value="حفظ واعد ارساله الي فرع اخر" name="action:SaveAndChangeBranch" class="btn btn btn-success" />
                                    </div>
                                }




                                <div class="col-md-2">
                                    @Html.ActionLink("عوده", "Details", "LoanRequest", new { id = Model.LoanID }, new { @class = "btn btn-orange" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
