﻿@model LoanApp.Models.DataBaseModel.LoansRequest
@{
    ViewBag.Title = "تحويل الطلب الي موظف اخر بنفس الفرع";
    Layout = "~/Views/Shared/_masterLoanActionLayout.cshtml";
}


<form method="post" action="@Url.Action("EmpTransfer", "LoanActions")">

    <div class="col-md-12">
        @Html.Partial("~/Views/Shared/_LoanRequestThumbnail.cshtml", Model)
    </div>


    <div class="panel">
        <div class="panel-body">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(x=> x.LoanID)

            <div class="col-md-12">
                <div class="row">
                    <div class="panel panel-danger">



                        <div class="panel-body">

                            <label class="control-label">برجاء تحديد الموظف:</label>
                            <div class="row mb10">
                                <div class="col-sm-10">
                                    @Html.DropDownList("BranchEmpID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BranchEmpID, "", new { @class = "text-danger" })
                                </div>

                            </div>


                            <div class="col-md-6"></div>
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-darkblue" value="تحويل" />
                            </div>
                            <div class="col-md-3">

                                @Html.ActionLink("عوده", "Deatils", "LoanRequest", new { id = Model.LoanID }, new { @class = "btn btn-orange" })
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</form>