﻿@model LoanApp.Models.DataBaseModel.LoansRequest

@{
    ViewBag.Title = "تحويل الي المندوب البني ";
    Layout = "~/Views/Shared/_masterLoanActionLayout.cshtml";
}



<div class="col-md-12">
    @Html.Partial("~/Views/Shared/_LoanRequestThumbnail.cshtml", Model)
</div>

<div class="panel">
    <div class="panel-body">


        <div class="col-md-12">
            <div class="row">

                <div class="panel panel-dark">

                    <form method="post" action="@Url.Action("MoveToBank", "LoanActions")">
                        <div class="panel-heading">
                            <!-- panel-btns -->
                            @Html.HiddenFor(x => x.LoanID)

                            <h3 class="panel-title">تحويل الي البنك @Model.Bank.BankName</h3>
                        </div>
                        <div class="panel-body">



                            <div class="mb10">
                                <label class="control-label">محول الي المندوبين التابعين لبنك @Model.Bank.BankName</label>

                                @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })





                            </div>
                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-default" value="تحويل" />
                            </div>

                        </div>
                    </form>


                </div>

            </div>
        </div>


    </div>
</div>


