﻿
@model LoanApp.Models.DataBaseModel.UsersInfo

@{
    ViewBag.Title = "تعديل بيانات الملف الشخصي";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}



@using (Html.BeginForm("Save", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


<div class="col-md-9 col-lg-offset-1">

    @Html.HiddenFor(x => x.UserID)

    <div class="row">
        <div class="col-md-3">
            <div class="row ">
                <img src="@Model.Photo" alt="" id="Photo" class="thumbnail" />
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <span style="cursor:pointer">
                        <span class="button-content" onclick="$('#filePhoto').click();">
                            تغير الصوره
                        </span>
                    </span>
                    <input type="file" id="filePhoto" name="filePhoto" style="display:none" />

                    
                </div>

            </div>

        </div>

        <div class="col-md-7">






            <label class="control-label">الاسم</label>
            <div class="row mb10">
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => x.Name_f, new { @class = "form-control", @placeholder = "الاسم الاول", @required = "" })



                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => x.Name_m, new { @class = "form-control", @placeholder = "الاسم الاوسط", @required = "" })

                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => x.Name_l, new { @class = "form-control", @placeholder = "الاسم الاخير", @required = "" })
                </div>
            </div>

            <div class="mb10">
                @Html.LabelFor(x => x.PhoneNumber, "رقم الهاتف", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @required = "", @number = "true", @disabled = "" })
                <div class="">
                    <span class="infosummary last float-right">رقم الهاتف الذي سيتخدم في تسجيل الدخول</span>
                    <br />
                    <span class="infosummary last float-right">غير مسموح بتغير رقم الهاتف ، برجاء الاتصال بمدير النظام</span>
                </div>
            </div>

            <div class="mb10">
                @Html.LabelFor(x => x.Password, "كلمه المرور", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @required = "", @type = "password" })
            </div>

            <div class="mb10">
                <label class="control-label" for="password_again">اعاده كلمه المرور</label>
                <input type="password" class="form-control" required id="password_again" equalTo='#Password' />
            </div>

        
        </div>
    </div>


</div>




<div class="row">
    <div class="col-md-offset-2 col-md-2">
        @*<a class="btn btn-darkblue">.btn-darkblue</a>*@
        <input type="submit" value="حفظ" class="btn btn-darkblue " />
    </div>
    
    
</div>

}