﻿@model LoanApp.Models.DataBaseModel.BankRepresentative

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<h2>بيات الموظف البنكي @Model.UsersInfo.FullName</h2>


<div class="panel">
    <div class="panel-body">



        <div class="col-md-11 col-lg-offset-1">

            @Html.EditorFor(x => x.UsersInfo)



            <h3 class="nomargin">مكان العمل</h3>
            <div class="col-lg-offset-3  col-md-7">

                <div class="mb10">
                    <label class="control-label">يعمل في بنك</label>




                    <span class="info">@Model.Bank.BankName</span>





                </div>

                <div class="mb10">
                    <label class="control-label">يتبع لفرع</label>


                    <span class="info">@Model.Branch.BranchName</span>


                </div>


            </div>


            <div class="row"></div>

            <div class="row">
                <div class="col-md-offset-2 col-md-2">
                    @Html.ActionLink("تعديل بيانات", "Edit", new { id = Model.UsersInfo.UserID }, new { @class = "btn btn-brown" })

                </div>
                <div class="col-md-2">
                    @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                </div>

            </div>



        </div>

        <br />
        <br />
        <div class="row  col-lg-offset-1">
            <h2>الطلبات </h2>
        </div>

        <div class="row ">
            <div class="col-md-10">
                @Html.Partial("~/views/Shared/_LoanRequest.cshtml", Model.LoansRequests.ToList())
            </div>
        </div>
    </div>
</div>
