﻿@model LoanApp.Models.DataBaseModel.BankRepresentative

@{
    ViewBag.Title = "تعديل بيانات موظف البنك";
    Layout = "~/Views/Shared/_masterLayout.cshtml";

}


<div class="panel">
    <div class="panel-body">



        <h2>تعديل بيانات موظف البنك @Model.UsersInfo.FullName</h2>

        @using (Html.BeginForm((string)ViewBag.Contoler, "BankRepresentatives", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()



            <fieldset>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UsersInfo.UserID)

                <div class="col-md-11 col-lg-offset-1">




                    @Html.EditorFor(x => x.UsersInfo)







                    <h3 class="nomargin">مكان العمل</h3>
                    <div class="col-lg-offset-3  col-md-7">

                        <div class="mb10">
                            <label class="control-label">يعمل في بنك</label>

                            @Html.DropDownList("BankID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BankID, "", new { @class = "text-danger" })





                        </div>

                        <div class="mb10">
                            <label class="control-label">يتبع لفرع</label>


                            @if (_app.ui.current.User.Employee.BranchID == 1)
                            {

                                @Html.DropDownList("BranchID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })
                            }
                            else
                            {
                                @Html.DropDownList("BranchID", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })


                            }


                        </div>

                    </div>








                    <div class="row">

                    </div>

                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            @*<a class="btn btn-darkblue">.btn-darkblue</a>*@
                            <input type="submit" value="حفظ" class="btn btn-darkblue " />
                        </div>
                        <div class="col-md-2">
                            @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                        </div>
                        <div class="col-md-2">
                            @Html.ActionLink("تهيئه كلمه المرور", "RestPassword", new { @id = Model.UsersInfo.UserID },
                           new { @class = "btn btn-brown" })
                        </div>
                    </div>
                </div>

            </fieldset>





        }
    </div>
</div>
