.blue-theme .top-header {
    background-image: url(../images/sections/section-11.jpg);
}
.blue-theme .btn.btn-primary:hover, .blue-theme .btn.btn-primary:focus, .blue-theme .btn.btn-primary:active:focus { background: #066dab; border-color: #066dab; }
.blue-theme .feature-item:hover .wrap-feature-icon .feature-icon, .blue-theme .feature-item.active .wrap-feature-icon .feature-icon { background: #088cdc; border-color: #5bb5eb; }
.blue-theme .feature-item:hover .wrap-feature-icon, .blue-theme .feature-item.active .wrap-feature-icon, .blue-theme .service-item:hover .wrap-service-icon .service-icon, .blue-theme .btn.btn-primary, .blue-theme .wrap-section-slider .owl-controls .owl-pagination .owl-page.active, .blue-theme .social-section .list-socials li a:hover { border-color: #088cdc; background: #088cdc; }
.blue-theme .feature-item .title:after, .blue-theme .steps-list .step-item .item-icon:before, .blue-theme .steps-list .step-item.invert .item-icon, .blue-theme .steps-section .results-container .skills li.orange .progress, .blue-theme .team-slider .slick-list .slick-track .slide-item .slide-description .contacts, .blue-theme .buy-section, .blue-theme .plan-item.active .item-footer .btn, .blue-theme h5:after { background: #088cdc; }
.blue-theme .list-achieve .col-md-3 .achieve-item:after, .blue-theme .latest-works-section .scroll-pane .scroll-content-item .name:before, .blue-theme .plan-item.active, .blue-theme .header .navbar .navbar-nav li.active a, .blue-theme .header .navbar .navbar-nav li a:hover, .blue-theme .design-arrow:after, .blue-theme .news-item .image .read-more:before { border-color: #088cdc; }
.blue-theme .video-section .btn-play, .blue-theme .plan-item .item-body .list-features li.active:before, .blue-theme .plan-item .item-heading .name, .blue-theme .wrap-section-slider .slide-item .slider-title i, .blue-theme .footer-section .footer-nav li a:hover, .blue-theme .footer-section .footer-nav li.active a, .blue-theme .header .navbar .navbar-nav.wrap-user-control li a { color: #088cdc; }
