﻿
@model LoanApp.Models.DataBaseModel.Receipt



@Html.HiddenFor(model=> model.ReceiptID)

@if (ViewBag.formMOde == "Details")
{
    var disabled = "disabled";
<div class="panel panel-default">
    
    <div class="panel-heading">
        
        <h4 class="panel-title">حرر بواسطه :@Model.CreatedEmployee.UsersInfo.FullName</h4>
    </div>



    <div class="panel-body panel-body-nopadding">

        <div class="form-horizontal form-bordered">



            <div class="form-group">
                <label class="col-sm-3 control-label">اسم المندوب</label>
                <div class="col-sm-5">

                    @Html.TextAreaFor(model => Model.SalesRepresentative.UsersInfo.FullName, new { @class = "form-control mb15", disabled })


                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">الفرع</label>
                <div class="col-sm-5">
                    @Html.TextAreaFor(model => Model.Branch.BranchName, new { @class = "form-control mb15", disabled })
                   
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">الموظف</label>
                <div class="col-sm-5">

                    @Html.TextAreaFor(model=> Model.Employee.UsersInfo.FullName , new { @class = "form-control mb15", disabled })
                    

                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">المبلغ</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", @required = "", @number = "true", disabled })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">رقم الحساب المحول منه</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.AccountFrom, new { @class = "form-control", @required = "", @number = "true", disabled })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">رقم الحساب المحول عليه</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.AccountTo, new { @class = "form-control", @required = "", @number = "true", disabled })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">االبنك المحول عليه</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.BankToName, new { @class = "form-control", @required = "", disabled })
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-3 control-label">ملاحظات</label>
                <div class="col-sm-7">
                    @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @number = "true", @rows = "5", disabled })
                    
                </div>
            </div>


        </div>

    </div><!-- panel-body -->

   

</div>
}

else if (ViewBag.formMode == "Create")
{
    <div class="panel panel-default">

        <div class="panel-heading">

            <h4 class="panel-title">حرر بواسطه :@Model.CreatedEmployee.UsersInfo.FullName</h4>
        </div>



        <div class="panel-body panel-body-nopadding">

            <div class="form-horizontal form-bordered">



                <div class="form-group">
                    <label class="col-sm-3 control-label">اسم المندوب</label>
                    <div class="col-sm-5">

                        @Html.DropDownListFor(model => Model.SalesRepID, null, new { @class = "form-control mb15", })
                        @Html.ValidationMessageFor(model => model.SalesRepID, "", new { @class = "text-danger" })


                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">الفرع</label>
                    <div class="col-sm-5">
                        @Html.DropDownListFor(model => Model.BranchID, null, new { @class = "form-control mb15", })
                        @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">الموظف</label>
                    <div class="col-sm-5">

                        @Html.DropDownListFor(model => Model.EmpID, null, new { @class = "form-control mb15", })
                        @Html.ValidationMessageFor(model => model.EmpID, "", new { @class = "text-danger" })

                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">المبلغ</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", @required = "", @number = "true", })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">رقم الحساب المحول منه</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.AccountFrom, new { @class = "form-control", @required = "", @number = "true", })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">رقم الحساب المحول عليه</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.AccountTo, new { @class = "form-control", @required = "", @number = "true", })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">االبنك المحول عليه</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.BankToName, new { @class = "form-control", @required = "", })
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-sm-3 control-label">ملاحظات</label>
                    <div class="col-sm-7">
                        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @rows = "5", })

                    </div>
                </div>


            </div>

        </div><!-- panel-body -->



    </div>

}