﻿
@model LoanApp.Models.DataBaseModel.UsersInfo

@{ 


    var active = "";

    if (Model != null) {
        if (Model.ActiveAccount) { active = "checked"; }
        else { active = ""; }

    }
    else { active = "checked"; }

    var number = "";
    if (Model.Employee == null) { number = "number"; }

}

<h3 class="nomargin">البيانات الشخصيه</h3>
<br />

@if (ViewBag.formMode == "create")
{
    

        <div class="row">
            <div class="col-md-3">
                <div class="row ">
                    <img src="@Model.Photo" alt="" id="Photo" class="thumbnail" />
                </div>
                <div class="row">
                    <div class="col-md-12  text-center">

                        <span style="cursor:pointer">
                            <span class="button-content" onclick="$('#filePhoto').click();">
                                تغير الصوره
                            </span>
                        </span>
                        <input type="file" id="filePhoto" name="filePhoto" style="display:none" />


                    </div>

                </div>

            </div>

            <div class="col-md-7">






                <label class="control-label">الاسم</label>
                <div class="row mb10">
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.Name_f, new { @class = "form-control", @placeholder = "الاسم الاول", @required = "" })



                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.Name_m, new { @class = "form-control", @placeholder = "الاسم الاوسط", @required = "" })

                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.Name_l, new { @class = "form-control", @placeholder = "الاسم الاخير", @required = "" })
                    </div>
                </div>

                <div class="mb10">
                    @Html.LabelFor(x => x.PhoneNumber, "رقم الهاتف", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @required = "", @number })
                    <div class="">
                        <span class="infosummary last float-right">رقم الهاتف الذي سيتخدم في تسجيل الدخول</span>
                    </div>
                </div>

                <div class="mb10">
                    @Html.LabelFor(x => x.Password, "كلمه المرور", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @required = "", @type = "password" })
                </div>

                <div class="mb10">
                    <label class="control-label" for="password_again">اعاده كلمه المرور</label>
                    <input type="password" class="form-control" required id="password_again" equalTo='#UsersInfo_Password' />
                </div>

                @*<div class="mb10">
                        <label class="control-label">حاله الحساب</label>

                        <div class="ckbox ckbox-default">



                            <input type="checkbox" value="1" id="ActiveAccount" @active>
                            <label for="ActiveAccount">حساب نشط</label>
                        </div>

                    </div>*@
            </div>

            @Html.Partial("~/Views/Shared/_UserMenuUpdate.cshtml", Model)




        </div>


   
}

else if (ViewBag.formMode == "edit")
{

<div class="row">
        <div class="col-md-3">
            <div class="row ">
                
                <img src="@Model.Photo" alt="" id="Photo" class="thumbnail" />
            </div>
            <div class="row">
                <div class="col-md-12  text-center">

                    <span style="cursor:pointer">
                        <span class="button-content" onclick="$('#filePhoto').click();">
                            تغير الصوره
                        </span>
                    </span>
                    <input type="file" id="filePhoto" name="filePhoto" style="display:none" />


                </div>

            </div>

        </div>

        <div class="col-md-7">




            @Html.HiddenFor(x=> x.UserID)

            <label class="control-label">الاسم</label>
            <div class="row mb10">
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => x.Name_f, new { @class = "form-control", @placeholder = "الاسم الاول", @required = "" })



                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => x.Name_m, new { @class = "form-control", @placeholder = "الاسم الاوسط", @required = "" })

                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => x.Name_l, new { @class = "form-control", @placeholder = "الاسم الاخير", @required = "" })
                </div>
            </div>

            <div class="mb10">
                @Html.LabelFor(x => x.PhoneNumber, "رقم الهاتف", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @required = "", @number })
                <div class="">
                    <span class="infosummary last float-right">رقم الهاتف الذي سيتخدم في تسجيل الدخول</span>
                </div>
            </div>

          

            <div class="mb10">
                <label class="control-label">حاله الحساب</label>

                <div class="">


                 
                  

                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x=> x.ActiveAccount,new {active, @data_toggle = "toggle" })
                      
                    </label>
                   
                </div>

            </div>
        </div>



    @Html.Partial("~/Views/Shared/_UserMenuUpdate.cshtml", Model)

    </div>
}

else if (ViewBag.formMode == "details")
{

    <div class="row">
        <div class="col-md-3">
            <div class="row ">
                <img src="@Model.Photo" alt="" id="Photo" class="thumbnail" />
            </div>


        </div>

        <div class="col-md-7">






            <label class="control-label">الاسم</label>
            <div class="row mb10">
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => x.Name_f, new { @class = "form-control", @placeholder = "الاسم الاول", @readonly= "readonly" })


                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => x.Name_m, new { @class = "form-control", @placeholder = "الاسم الاوسط", @readonly = "readonly" })

                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => x.Name_l, new { @class = "form-control", @placeholder = "الاسم الاخير", @readonly = "readonly" })
                </div>
            </div>

            <div class="mb10">
                @Html.LabelFor(x => x.PhoneNumber, "رقم الهاتف", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @readonly = "readonly", @number })
                <div class="">
                    <span class="infosummary last float-right">رقم الهاتف الذي يستخدم في تسجيل الدخول</span>
                </div>
            </div>



            <div class="mb10">
                <label class="control-label">حاله الحساب</label>

                <div class="">
                    @Html.CheckBoxFor(x => x.ActiveAccount, new { active, @data_toggle = "toggle", @disabled = "" })
                    @if (Model.ActiveAccount)
                    { <span class="info">حساب نشط</span>

                    }

                    else
                    { <span class="aRed">حساب موقوف</span>
                    }


                </div>

            </div>
        </div>


        @Html.Partial("~/Views/Shared/_UserMenuUpdate.cshtml", Model)

    </div>
}



<script type="text/javascript">

    $(document).ready(function () {
        $('#filePhoto').change(function () {

            var filepath = $(this).val();
            var ext = filepath.split('.');
            var fext = ext[ext.length - 1]
            if (fext == 'jpg' || fext == 'png' || fext == 'jpeg') {
                var reader = new FileReader();

                reader.readAsDataURL($(this).prop('files')[0]);
                reader.onload = function (event) {
                    $('#Photo').attr('src', event.target.result);
                };
            }
            else { alert('Only .jpg , .png or .jpeg photo formats are allowed !'); $(this).val(''); }
        });


    });


</script>