﻿@model LoanApp.Models.DataBaseModel.Branch


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MasterBranches.cshtml";
}

<h2>فرع جديد</h2>

<div class="panel">
    <div class="panel-body">



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="col-md-11 ">






                <div class=" col-md-10">

                    <div class="mb10">



                        @Html.HiddenFor(x => x.BranchID)



                        <div class=" mb10">
                            @Html.LabelFor(x => x.BranchName, "الاسم الفرع", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.BranchName, new { @class = "form-control", @placeholder = "اسم الفرع", @required = "" })

                        </div>
                        <div class=" mb10">
                            @Html.LabelFor(x => x.BranchCode, "كود الفرع", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.BranchCode, new { @class = "form-control", @placeholder = "كود الفرع", @required = "" })
                        </div>



                    </div>




                    <div class="row">

                        <div class="mb10">
                            @Html.Partial("~/Views/Shared/_gMap.cshtml", new LoanApp.Models.DataBaseModel.gLocation()
                       {
                           lid = Model.BranchID.ToString(),
                           lat = Model.lat,
                           log = Model.lng,
                           readOnly = false
                       })
                        </div>


                    </div>
                </div>
                <div class="row">

                </div>


                <div class="row">
                    <div class="col-md-offset-2 col-md-2">

                        <input type="submit" value="حفظ" class="btn btn-darkblue " />
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                    </div>

                </div>



            </div>

        }
    </div>
</div>

