﻿@model LoanApp.Models.DataBaseModel.Branch


@{
                /**/



                ViewBag.Title = "Delete";
                Layout = "~/Views/Shared/_MasterBranches.cshtml";
                var active = "";
                if (Model != null)
                {
                    if (Model.Active) { active = "checked"; }
                    else { active = ""; }

                }
                else { active = "checked"; }
}
}

<h2>حذف</h2>


<div class="panel">
    <div class="panel-body">



        @using (Html.BeginForm())
        {
            <h3>هل انت متاكد من حذف بنك @</h3>
            <div class="col-md-11 col-lg-offset-1">



                <div class=" col-md-10">

                    <div class="mb10">
                        <label class="control-label">أسم الفرع</label>
                        <span class="info">@</span>
                    </div>

                    <div class="mb10">
                        <label class="control-label">كود الفرع</label>
                        <span class="info">@</span>
                    </div>



                    <div class="row">

                        <div class="col-md-7">
                            @Html.Partial("~/Views/Shared/_gMap.cshtml", new LoanApp.Models.DataBaseModel.gLocation()
                   {
                       lid = Model.BranchID.ToString(),
                       lat = Model.lat,
                       log = Model.lng,
                       readOnly = true
                   })
                        </div>


                    </div>
                </div>




                @

                <div class="row"></div>

                <div class="row">
                    <div class="col-md-offset-2 col-md-2">


                        @if (_app.model.branchCanBeDelete(Model))
                        {

                            <input type="submit" value="حذف" class="btn btn-danger " />
                        }
                        else
                        {
                            <div class="row">
                                <input type="submit" value="حذف" class="btn btn-danger " disabled />
                            </div>
                            <div class="row">
                                <span class="infosummary">غير مسموج بمسح هذا الفرع لوجود حركات بأسمه في قاعده البيانات</span>
                            </div>



                        }
                    </div>
                    <div class="col-md-2">
                        @
                    </div>
                    <div class="col-md-2">
                        @
                    </div>



                </div>
            </div>
        }
    </div>
</div>


