﻿@model LoanApp.Models.DataBaseModel.Branch
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterBranches.cshtml";
}

<h2>بيانات فرع : @Model.BranchName </h2>

<div class="panel">
    <div class="panel-body">



        <div class="col-md-11 ">






            <div class=" col-md-10">

                <div class="mb10">
                    <label class="control-label">أسم الفرع</label>
                    <span class="info">@Model.BranchName</span>

                </div>

                <div class="mb10">
                    <label class="control-label">كود الفرع</label>
                    <span class="info">@Model.BranchCode</span>
                </div>


                <div class="mb10">
                    <label class="control-label">مدير الفرع</label>
                    @if (Model.BranchMangerUserID != null)
                    {
                        <a href="@Url.Action("Details", "Employe", new { id = Model.BranchMangerUserID })">
                            <span class="info">
                                @Model.BranchManger.FullName
                            </span>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Edit", "Branch", new { id = Model.BranchID })">
                            <span class="info text-danger">
                                غير محدد
                            </span>
                        </a>
                    }
                </div>

                <div class="row">

                    <div class="col-md-7">
                        @Html.Partial("~/Views/Shared/_gMap.cshtml", new LoanApp.Models.DataBaseModel.gLocation() { lid = Model.BranchID.ToString(),lat = Model.lat ,
                   log = Model.lng, readOnly = true })
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-2">
                    @Html.ActionLink("تعديل بيانات", "Edit", new { id = Model.BranchID },
                   new { @class = "btn btn-brown" })

                </div>
                <div class="col-md-2">
                    @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                </div>

            </div>



        </div>



        <br />
        <br />


        <div class="row ">
            <div class="col-md-10">
                @Html.Partial("~/views/Shared/_LoanRequest.cshtml", Model.LoansRequests.ToList())
            </div>
        </div>
    </div>
</div>
