﻿
@model LoanApp.Models.DataBaseModel.Branch

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MasterBranches.cshtml";
    var active = "";
    if (Model != null)
    {
        if (Model.Active) { active = "checked"; }
        else { active = ""; }

    }
    else { active = "checked"; }
}

<h2>تعديل بيانات فرع :@Model.BranchName</h2>


<div class="panel">
    <div class="panel-body">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="col-md-11 ">






                <div class=" col-md-10">

                    <div class="mb10">



                        @Html.HiddenFor(x => x.BranchID)



                        <div class=" mb10">
                            @Html.LabelFor(x => x.BranchName, "اسم الفرع", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.BranchName, new { @class = "form-control", @placeholder = "الاسم البنك", @required = "" })

                        </div>
                        <label class="control-label">الكود</label>
                        <div class=" mb10">
                            @Html.LabelFor(x => x.BranchCode, "كود الفرع", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.BranchCode, new { @class = "form-control", @placeholder = "كود الفرع", @required = "" })
                        </div>




                        <div class="mb10">
                            <label class="control-label">مدير الفرع</label>

                            @Html.DropDownList("BranchMangerUserID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BranchMangerUserID, "", new { @class = "text-danger" })

                        </div>

                        <div class="mb10">
                            <label class="control-label">حاله الفرع</label>

                            <div class="">





                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.Active, new
                               {
                                   active,
                                   @data_toggle = "toggle",
                                   @data_on = "يقبل التحويلات",
                                   @data_off = "لا يبقل التحويلات"
                               })

                                </label>

                            </div>

                        </div>



                    </div>




                    <div class="row">

                        <div class="mb10">
                            @Html.Partial("~/Views/Shared/_gMap.cshtml", new LoanApp.Models.DataBaseModel.gLocation()
                   {
                       lid = Model.BranchID.ToString(),
                       lat = Model.lat,
                       log = Model.lng,
                       readOnly = false
                   })
                        </div>


                    </div>
                </div>



                <div class="row">

                </div>


                <div class="row">
                    <div class="col-md-offset-2 col-md-2">

                        <input type="submit" value="حفظ" class="btn btn-darkblue " />
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                    </div>

                </div>



            </div>

        }

    </div>
</div>


