﻿

@model List<LoanApp.Models.DataBaseModel.Branch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterBranches.cshtml";
}

<h2>الفروع</h2>


<div class="panel">
    <div class="panel-body">



        <p>
            @Html.ActionLink("اضافه فرع جديد", "Create", null, new { @class = "btn btn-black" })
        </p>


        <div id="bloglist" class="row" style="position: relative; height: 885.516px;">



            @foreach (var item in Model)
            {
                <div class="col-xs-6 col-sm-4 col-md-3" @*style="position: absolute; left: 0px; top: 0px;"*@>
                    <div class="blog-item">
                        <div class="blog-img">
                            @Html.Partial("~/Views/Shared/_gMap.cshtml", new LoanApp.Models.DataBaseModel.gLocation() { lid = item.BranchID.ToString()
                           ,lat = item.lat, log = item.lng, readOnly =true })
                        </div>
                        <div class="blog-details">
                            <div class="blog-title row">
                                <div class="pull-left">
                                    <h4>
                                        @Html.ActionLink(item.BranchName, "Details", new { id = item.BranchID })
                                    </h4>
                                </div>
                                <div class=" pull-right">
                                    <h4>
                                        @item.BranchCode
                                    </h4>
                                </div>
                            </div>


                            <ul class="blog-meta">
                                <li>الموظفين @item.Employees.Count موظف</li>
                                <li>العقود @item.LoansRequests.Count</li>
                                <li><a href="">@item.LoansRequests.Where(x => x.LoanStatus.StatusID == 2 || x.LoanStatus.StatusID == 8).ToList().Count عقود مرفوضه</a></li>
                            </ul>
                            <div class="blog-summary">


                                <div class="row text-center">
                                    <div class="col-md-4">
                                        <a href="@Url.Action("Details", new { id = item.BranchID.ToString() })" title="الصفحه الاساسيه"><i class="fa fa-info"></i></a>
                                    </div>

                                    <div class="col-md-4">
                                        <a href="@Url.Action("Edit", new { id = item.BranchID.ToString() })" title="تعديل بيانات"><i class="fa fa-pencil"></i></a>
                                    </div>

                                    <div class="col-md-4">
                                        <a href="@Url.Action("Delete", new { id = item.BranchID.ToString() })" class="delete-row danger aRed" title="حذف المدينه"><i class="fa fa-trash-o"></i></a>
                                    </div>

                                </div>
                                <div class="row text-center">

                                    @if (item.Active)
                                    {<span class="info">يقبل التحويلات</span> }
                                    else
                                    { <span class="aRed">لا يقبل التحويلات</span>}


                                </div>


                            </div>
                        </div>
                    </div><!-- blog-item -->
                </div>

            }

            <!-- col-xs-6 -->






        </div>



    </div>
</div>
