﻿@model LoanApp.Models.DataBaseModel.Customer

@{
    ViewBag.Title = "بيانات العميل";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}



<h2>بيات العميل  @Model.UsersInfo.FullName</h2>

<div class="panel">
    <div class="panel-body">




        <div class="col-md-11 col-lg-offset-1">
            @Html.EditorFor(x => x.UsersInfo)





        </div>
        <br />
        <br />
        <div class="row  col-lg-offset-1">
            <h2>الطلبات </h2>
        </div>
        <div class="row ">
            <div class="col-md-10">
                @Html.Partial("~/views/Shared/_LoanRequest.cshtml", Model.LoansRequests.ToList())
            </div>
        </div>


        <div class="row"></div>
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                @Html.ActionLink("تعديل بيانات", "Edit", new { id = Model.UsersInfo.UserID }, new { @class = "btn btn-brown" })
            </div>
            <div class="col-md-2">
                @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
            </div>
        </div>

    </div>
</div>
