﻿@model LoanApp.Models.DataBaseModel.Customer

@{
    ViewBag.Title = "بيانات العميل";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}



<h2>بيات العميل  @Model.UsersInfo.FullName</h2>


<div class="panel">
    <div class="panel-body">




        @using (Html.BeginForm((string)ViewBag.Contoler, "Customers", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()




            <fieldset>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-11 col-lg-offset-1">


                    @Html.EditorFor(x => x.UsersInfo)





                    <h3 class="nomargin">معلومات اضافيه</h3>
                    <div class="col-lg-offset-3  col-md-7">
                        <div class="mb10">
                            <label class="control-label">يعيش في مدينه</label>
                            @Html.DropDownList("CityID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })


                        </div>
                        <div class="mb10">
                            <label class="control-label">الوظيفه</label>
                            @Html.DropDownList("JobID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.JobID, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb10">
                            <label class="control-label">رقم الهويه</label>
                            @Html.LabelFor(x => x.NationalID, "رقم الهويه", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.NationalID, new { @class = "form-control", @placeholder = "رقم الهويه", @required = "" })
                        </div>
                    </div>





                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            @*<a class="btn btn-darkblue">.btn-darkblue</a>*@
                            <input type="submit" value="حفظ" class="btn btn-darkblue " />
                        </div>
                        <div class="col-md-2">
                            @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                        </div>
                        <div class="col-md-2">
                            @Html.ActionLink("تهيئه كلمه المرور", "RestPassword", new { @id = Model.UsersInfo.UserID },
                           new { @class = "btn btn-brown" })
                        </div>
                    </div>
                </div>
            </fieldset>



            @*<div class="col-md-offset-2 col-md-2 ">

                    @if (Model.UsersInfo.ActiveAccount)
                    {

                        <input type="submit" value="ايقاف الحساب" class="btn btn-danger" />


                    }
                    else
                    {
                        <input type="submit" value="اعاده تشغيل الحساب" class="btn btn-success" />

                    }

                </div>
                <div class="col-md-2">
                    @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                </div>
                </div>*@
        }
    </div>
</div>