﻿
@model  IEnumerable<LoanApp.Models.DataBaseModel.Customer>

@{
    ViewBag.Title = "العملاء";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}


<div class="panel">
    <div class="panel-body">



        <table class="table table-striped dataTable">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        اسم العميل
                    </th>
                    <th>
                        رقم الهاتف
                    </th>
                    <th>
                        عدد الطلبات
                    </th>
                    <th>
                        حاله الحساب
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img class="userinfoTbaleImg" src="@item.UsersInfo.PhotoAbsoluteUrl" alt="">
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.UsersInfo.FullName.Trim()))
                            {@Html.ActionLink(item.UsersInfo.FullName, "Details", new { id = item.CustomerID }) }
                        else
                        {
                            <span class="aRed">غير محدد</span>
                        }

                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.UsersInfo.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoansRequests.Count)
                        </td>
                        <td>
                            @if (item.UsersInfo.ActiveAccount)
                            {<span class="info">حساب نشط</span> }
                            else
                            { <span class="aRed">حساب موقوف</span>}
                        </td>

                        <td>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="@Url.Action("Details", new { id = item.CustomerID })" title="الصفحه الشخصيه"><i class="fa fa-info"></i></a>
                                </div>

                                <div class="col-md-6">

                                    <a href="@Url.Action("Edit", new { id = item.CustomerID })" title="تعديل بيانات الملف الشخصي"><i class="fa fa-pencil"></i></a>
                                </div>



                            </div>



                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
