﻿@model LoanApp.Models.DataBaseModel.City

@{
    ViewBag.Title = "حذف المدينه ؟";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}



<div class="panel">
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            <h3>هل انت متاكد من حذف مدينه @Model.CityName</h3>
            <div class="col-md-11 col-lg-offset-1">

                <div class="row">

                    <div class="col-md-7">

                        @Html.HiddenFor(x => x.CityID)


                        <div class=" mb10">
                            @Html.LabelFor(x => x.CityName, "الاسم ", new { @class = "control-label", })
                            @Html.TextBoxFor(x => x.CityName, new
                   {
                       @class = "form-control",
                       @placeholder = "الاسم ",
                       @required = "",
                       @readonly = "readonly"
                   })
                        </div>


                    </div>
                </div>


                @Html.AntiForgeryToken()
                <div class="row"></div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-2">

                        @if (_app.model.CityCanBeDelete(Model))
                        {

                            <input type="submit" value="حذف" class="btn btn-danger " />
                        }
                        else
                        {
                            <div class="row">
                                <input type="submit" value="حذف" class="btn btn-danger " disabled />
                            </div>
                            <div class="row">
                                <span class="infosummary">غير مسموج بمسح هذا البنك لوجود حركات بأسمه في قاعده البيانات</span>
                            </div>



                        }
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("تعديل بيانات", "Edit", new { id = Model.CityID }, new { @class = "btn btn-brown" })
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                    </div>

                </div>
            </div>
        }
    </div>
</div>