﻿@model LoanApp.Models.DataBaseModel.City

@{
    ViewBag.Title = "بينات المدينه";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<h2>@Model.CityName</h2>

<div class="panel">
    <div class="panel-body">




        <div class="row">

            <div class="col-md-7">

                @Html.HiddenFor(x => x.CityID)

                <div class=" mb10">
                    @Html.LabelFor(x => x.CityName, "الاسم", new { @class = "control-label", })
                    @Html.TextBoxFor(x => x.CityName, new
               {
                   @class = "form-control",
                   @placeholder = "الاسم المدينه",
                   @required = "",
                   @readonly = "readonly"
               })
                </div>



            </div>
        </div>


        <p>
            <div class="row">
                <div class="col-md-offset-2 col-md-2">
                    @Html.ActionLink("تعديل", "Edit", new { id = Model.CityID }, new { @class = "btn btn-darkblue" })
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("حذف", "Delete", new { id = Model.CityID }, new { @class = "btn btn-danger" })


                </div>
                <div class="col-md-2">
                    @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                </div>

            </div>
        </p>
    </div>
</div>