﻿@model LoanApp.Models.DataBaseModel.City

@{
    ViewBag.Title = "تعديل بينات المدينه";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<h2>@Model.CityName</h2>

<div class="panel">
    <div class="panel-body">





        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="col-md-11 ">






                <div class=" col-md-10">

                    <div class="mb10">



                        @Html.HiddenFor(x => x.CityID)



                        <div class=" mb10">
                            @Html.LabelFor(x => x.CityName, "اسم االمدينه", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.CityName, new { @class = "form-control", @placeholder = "الاسم البنك", @required = "" })

                        </div>




                    </div>





                </div>



                <div class="row">

                </div>


                <div class="row">
                    <div class="col-md-offset-2 col-md-2">

                        <input type="submit" value="حفظ" class="btn btn-darkblue " />
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                    </div>

                </div>



            </div>

        }


    </div>
</div>