﻿@model IEnumerable<LoanApp.Models.DataBaseModel.City>

@{
    ViewBag.Title = "المدن";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}



<p>
    @Html.ActionLink("اضافه مدينه جديدة", "Create", null, new { @class = "btn btn-black" })
</p>
<div class="panel">
    <div class="panel-body">



        <table class="table dataTable">
            <tr>
                <th>
                    اسم المدينه
                </th>
                <th>
                    خيارات
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityName)
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="@Url.Action("Details", new { id = item.CityID })" title="المعلومات"><i class="fa fa-info"></i></a>
                            </div>
                            <div class="col-md-4">
                                <a href="@Url.Action("Edit", new { id = item.CityID })" title="تعديل بيانات المدينه"><i class="fa fa-pencil"></i></a>
                            </div>
                            <div class="col-md-4">
                                <a href="@Url.Action("Delete", new { id = item.CityID })" class="delete-row danger aRed" title="حذف الدينه"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>


                    </td>
                </tr>
            }

        </table>
    </div>
</div>
