﻿@model LoanApp.Models.DataBaseModel.SalesRepresentative

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}


@using (Html.BeginForm((string)ViewBag.Contoler, "SalesRepresentatives", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <h4>مندوب جديد</h4>
    <hr />

        <fieldset>
            <div class="col-md-11 col-lg-offset-1">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })




                @Html.EditorFor(x => x.UsersInfo)








                <div class="row">
                    <br />
                </div>

                <div class="row">
                    <div class="col-md-offset-2 col-md-2">
                       
                        <input type="submit" value="حفظ" class="btn btn-darkblue " />
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                    </div>

                </div>

            </div>
        </fieldset>


}


