﻿@model LoanApp.Models.DataBaseModel.SalesRepresentative

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<h2>حذف</h2>

<h3>هل انت متاكد من مسح المندوب @Model.UsersInfo.FullName ؟</h3>



@using (Html.BeginForm((string)ViewBag.Contoler, "SalesRepresentatives", FormMethod.Post, new { enctype = "multipart/form-data" }))

{

    @Html.AntiForgeryToken()

    <div class="col-md-11 col-lg-offset-1">

        @Html.EditorFor(x => x.UsersInfo)





        <div class="row"></div>

        <div class="row">
            <div class="col-md-offset-2 col-md-2">

                @if (_app.model.userCanBeDelete(Model.UsersInfo))
                {

                    <input type="submit" value="حذف" class="btn btn-danger " />
                }
                else
                {
                    <div class="row">
                        <input type="submit" value="حذف" class="btn btn-danger " disabled />
                    </div>
                    <div class="row">
                        <span class="infosummary">غير مسموج بمسح هذا المستخدم لوجود حركات بأسمه في قاعده البيانات</span>
                    </div>



                }

            </div>
            <div class="col-md-2">
                @Html.ActionLink("تعديل بيانات", "Edit", new { id = Model.UsersInfo.UserID }, new { @class = "btn btn-brown" })
            </div>
            <div class="col-md-2">
                @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
            </div>

        </div>



    </div>

}
