﻿@model LoanApp.Models.DataBaseModel.SalesRepresentative

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<h2>بيات المندوب:  @Model.UsersInfo.FullName</h2>

<div class="col-md-11 col-lg-offset-1">

    @Html.EditorFor(x => x.UsersInfo)



   


    <div class="row"><br /></div>

    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            @Html.ActionLink("تعديل بيانات", "Edit", new { id = Model.UsersInfo.UserID }, new { @class = "btn btn-brown" })

        </div>
        <div class="col-md-2">
            @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
        </div>

    </div>



</div>
<div class="col-md-12">
   <br />
    <br />
</div>

<div class="row ">
    <div class="col-md-10 col-lg-offset-1">


        @Html.Partial("~/views/Shared/_LoanRequest.cshtml", Model.LoansRequests.ToList())
    </div>
</div>