﻿@model LoanApp.Models.DataBaseModel.SalesRepresentative

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}


<h2>تعديل بيانات المندوب : @Model.UsersInfo.FullName</h2>

@using (Html.BeginForm((string)ViewBag.Contoler, "SalesRepresentatives", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()



    <fieldset>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UsersInfo.UserID)

        <div class="col-md-11 col-lg-offset-1">




            @Html.EditorFor(x => x.UsersInfo)















            <div class="row">

            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-2">
                    @*<a class="btn btn-darkblue">.btn-darkblue</a>*@
                    <input type="submit" value="حفظ" class="btn btn-darkblue " />
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("تهيئه كلمه المرور", "RestPassword", new { @id = Model.UsersInfo.UserID },
                   new { @class = "btn btn-brown" })
                </div>
            </div>
        </div>

    </fieldset>





}
