﻿@model IEnumerable<LoanApp.Models.DataBaseModel.SalesRepresentative>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<h2>مندوبين القروض</h2>

<p>
    @Html.ActionLink("اضافه مندوب جديد", "Create", null, new { @class = "btn btn-black" })
</p>
<table class="table table-striped dataTable">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                اسم المندوب
            </th>
            <th>
                رقم الهاتف
            </th>
            <th>
              عقود مفتوحه
            </th>
            <th>
               عقود مغلقه
            </th>
            <th>
                عقود تم السداد
            </th>
            <th>
                حاله الحساب
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="userinfoTbaleImg" src="@item.UsersInfo.PhotoAbsoluteUrl" alt="">
                </td>
                <td>
                    @Html.ActionLink(item.UsersInfo.FullName, "Details", new { id = item.UsersInfo.UserID })

                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.UsersInfo.PhoneNumber)
                </td>
               
                <td>
                    
                        @item.LoansRequests.Where(x => !_app.LoanReq.ClosedStatus().Contains(x.StatusID)).Count()
                    
                </td>
                <td>
                    @item.LoansRequests.Where(x => _app.LoanReq.ClosedStatus().Contains(x.StatusID)).Count()
                </td>
                <td>
                    @item.Receipts.Count()


                </td>

                <td>
                    @if (item.UsersInfo.ActiveAccount)
                    { <span class="info">حساب نشط</span> }
                    else
                    { <span class="aRed">حساب موقوف</span>}
                </td>


                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="@Url.Action("Details", new { id = item.UsersInfo.UserID })" title="الصفحه الشخصيه"><i class="fa fa-info"></i></a>
                        </div>

                        <div class="col-md-4">
                            <a href="@Url.Action("Edit", new { id = item.UsersInfo.UserID })" title="تعديل بيانات الملف الشخصي"><i class="fa fa-pencil"></i></a>
                        </div>

                        <div class="col-md-4">
                            <a href="@Url.Action("Delete", new { id = item.UsersInfo.UserID })" class="delete-row danger aRed" title="حذف الحساب"><i class="fa fa-trash-o"></i></a>
                        </div>

                    </div>



                </td>


            </tr>
        }
    </tbody>
</table>
