﻿@model   WebAdo.NotesPage



<div class="col-md-12">
    <div class="row">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <!-- panel-btns -->
                <h3 class="panel-title">الملاحظات</h3>
            </div>
            <div class="panel-body" id="note-panel-body">
                
            </div>

            <div class="panel-body">

                <div class="row">

                    <div class="col-md-3">
                        <input type="button" class="btn btn-default" value="ادراج" id="addNewNote" />
                    </div>

                    <div class="col-md-3">
                        <input type="button" class="btn btn-warning" value="حفظ" id="saveNewNote" />
                    </div>

                    <div class="col-md-3">
                        <input type="button" class="btn btn-danger" value="عوده" id="backToNotes" />
                    </div>

                </div>

            </div>

            </div>
        @Html.HiddenFor(x=> x.LoanID)
    </div>
</div>

<script type="text/javascript">

    var allowEdit = @Model.AllowControlls ;

    var loanid = @Model.LoanID ;

    

    function listView(lv)
    {

       
        if (lv == true)
        {
            ajax('/Notes/NotesWithAcction', loanid);
             

        }
      



    }



    
    

    function ajax(url, param)
    {



        $.ajax({
            url: url,
            type: 'POST',
            data: JSON.stringify(param),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $('#note-panel-body').html(data);
            },
            error: function (x, y, z) {
                console.log(x);
            }
        });

    }

   


    $(document).ready(function () {

        listView(true);


    });


</script>

