﻿
@model List<LoanApp.Models.DataBaseModel.Note>




@if (Model.Count > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th>التاريخ</th>
                <th>الساعة</th>
                <th>منذ</th>
                <th>المستخدم</th>
                <th>الملاحظه</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                   <td>@item.NoteDate.ToShortDateString()</td>
                    <td>@item.NoteDate.ToShortTimeString()</td>
                    <td>
                        @Html.Partial("~/Views/Shared/Components/_timeAgo.cshtml",
                                         new _app.model.TimeAgo { Class = "", Date = item.NoteDate } )
                    </td>
                    <td>@item.Employee.UsersInfo.FullName</td>
                    <td>@item.NoteContent</td>
                </tr>
            }
        </tbody>
    </table>
}

else
{ <h3> لا يوجد ملاحظات علي هذا الطلب</h3> }


