﻿@model LoanApp.Models.DataBaseModel.Note

@{
    ViewBag.Title = "اضافه ملاحظه جديده";
    Layout = "~/Views/Shared/_masterLoanActionLayout.cshtml";
}



<div class="col-md-12">
    @Html.Partial("~/Views/Shared/_LoanRequestInfoBubble.cshtml", Model.LoansRequest)
</div>


<div class="col-md-12">




   
        <div class="row">

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <!-- panel-btns -->
                    <h3 class="panel-title">الملاحظات</h3>
                </div>
                <div class="panel-body" id="note-panel-body">


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()


                        @Html.HiddenFor(x => x.LoanID)
                        @Html.HiddenFor(x => x.NoteID)


                        <fieldset>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-12 ">


                                @Html.TextAreaFor(x => x.NoteContent, new
       {
           @class = "form-control",
           @placeholder = "المحتوي",
           @required = "",
           @rows = 5

       })






                                <div class="row">
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-2">

                                        <input type="submit" value="اضافه" class="btn btn-darkblue " />
                                    </div>
                                    <div class="col-md-2">
                                        @Html.ActionLink("عوده", "Details","LoanRequest", new { id = Model.LoanID }, new { @class = "btn btn-orange" })
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                            </div>
                        </fieldset>



                    }
                </div>
                </div>
            </div>
    </div>




