﻿@model LoanApp.Models.DataBaseModel.Receipt

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}



@using (Html.BeginForm((string)ViewBag.Contoler, "Receipt", FormMethod.Post, new { enctype = "multipart/form-data" })) {





@Html.EditorForModel()



<div class="panel-footer">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <button class="btn btn-primary" type="submit">حفظ</button>      
        </div>
    </div>
</div>
}
