﻿@model LoanApp.Models.DataBaseModel.Receipt

@{
    ViewBag.Title = "حذف ؟";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

@using (Html.BeginForm("Delete", "Receipt"))
{

    @Html.AntiForgeryToken()
@Html.EditorForModel()


<div class="panel-footer">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">


            <input type="submit" value="حذف" class="btn btn-danger " />
            @*<a href="@Url.Action("DeleteConfirmed", new { id = Model.ReceiptID })" 
               class="btn btn-danger" target="_blank" >حذف نهائي</a>*@
        </div>
    </div>
</div>
}

