﻿@model LoanApp.Models.DataBaseModel.Receipt

@{
    ViewBag.Title = "سند صرف";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

@Html.EditorForModel()



<div class="panel-footer">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          
            <a href="@Url.Action("Print", new { id= Model.ReceiptID })"  class="btn btn-info" target="_blank">طياعه</a>
        </div>
    </div>
</div>