﻿
@model List<LoanApp.Models.DataBaseModel.Receipt>

@{
    ViewBag.Title = "سند صرف";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}


<p>
    @Html.ActionLink("اضافه سند صرف", "Create", null, new { @class = "btn btn-black" })
</p>


<div class="panel">
    <div class="panel-body">



        @Html.Partial("~/Views/Shared/_ReceiptsTable.cshtml", Model)
    </div>
</div>