﻿

@model  LoanApp.Models.DataBaseModel.gLocation





<div id="@Model.lid" style="height: 300px; position: relative; overflow: hidden;">
    
</div>

<input id="pac-input"  type="text" class="form-control " style="width:300px"  placeholder="بحث عن مكان">

<script type="text/javascript">


    var marker;
    $(document).ready(function () {

        $('#@Model.lid-t').val(@Model.lat);
         $('#@Model.lid-g').val(@Model.log);

        var t =  $('#@Model.lid-t').val();
        var g =  $('#@Model.lid-g').val();

        var ro =  '@Model.readOnly';

        if (ro == 'False') { ro = false; } else { ro = true; };
        if (t == 0) {  t = 24.708178400790256; };
        if (g== 0) { g = 46.677721687500025; };

        var myLatlng = new google.maps.LatLng(t, g);
        var mapOptions = {
            zoom: 6,
            center: myLatlng,
            draggable: !ro,
            disableDefaultUI: ro
        }

        var @Model.lid = new google.maps.Map(document.getElementById("@Model.lid"), mapOptions);

        var map = @Model.lid;
        marker = new google.maps.Marker({
            position: myLatlng,
            draggable: !ro,
            animation: google.maps.Animation.DROP,




        });


        marker.setMap( map);


        addMarkerListener(marker);



        if (ro == false) {





            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function () {
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();
                marker.setMap(null);
                if (places.length == 0) {
                    return;
                }

                // Clear out the old markers.
                markers.forEach(function (marker) {
                    marker.setMap(null);
                });
                markers = [];
                var bounds = new google.maps.LatLngBounds();
                // For each place, get the icon, name and location.
                var i = 0;
                places.forEach(function (place) {


                    // Create a marker for each place.
                    markers.push(new google.maps.Marker({
                        map: map,
                        draggable: !ro,
                        title: place.name,
                        position: place.geometry.location
                    }));

                    addMarkerListener(markers[i]);
                    i += 1;
                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }

                });
                map.fitBounds(bounds);

            });



        }

        else { $("#pac-input").remove(); }





    });

    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });



    function addMarkerListener(marker) {
          google.maps.event.addListener(marker, 'dragend', function () {


            $('#@Model.lid-t').val(marker.getPosition().lat());
            $('#@Model.lid-g').val(marker.getPosition().lng());






        });

    }


</script>

<input type="hidden" id="@Model.lid-t" name="@Model.lid-t" value="0" />
<input type="hidden" id="@Model.lid-g" name="@Model.lid-g" value="0" />