﻿@model IEnumerable<LoanApp.Models.DataBaseModel.LoansRequest>




@foreach (var item in Model)
{
    <div class="col-md-6">
        @Html.Partial("~/Views/Shared/_LoanRequestThumbnail.cshtml", item)
    </div>
}


