﻿
@model LoanApp.Models.DataBaseModel.LoansRequest


<div class="col-md-12">
    <div class="row">

        <div class="people-item">
            <div class="media">
                <div class="pull-left">
                    <a href="#" class="pull-left">
                        <img alt="" src="@Model.Customer.UsersInfo.PhotoAbsoluteUrl" class="thumbnail media-object">
                        @*<img alt="" src="@_app.ui.photo.AbsoluteUrl( Model.Customer.UsersInfo.Photo)" class="thumbnail media-object">*@

                    </a>

                    <div class="text-center padding5 " name="actionlink">

                        @Html.Partial("~/Views/Shared/_LoanRequestActions.cshtml", Model)

                    </div>
                    <div class="text-center">
                        <h5>
                            رقم الطلب :
                            <span class="LoanID">@Model.LoanID</span>
                        </h5>
                    </div>
                </div>
                <div class="pull-right">

                    @Html.Partial("~/Views/Shared/_LoanRequestEditMenu.cshtml", Model)

                </div>
                <div class="media-body">

                    <h4 class="person-name">@Model.Customer.UsersInfo.FullName</h4>
                    @if (Model.SalesRepresentative != null)
                    {
                        <div class="btn-demo">
                            <a class="btn btn-warning-alt" href="@Url.Action("Details", "SalesRepresentatives", new { id = Model.SalesRepID })">
                                مندوب : @Model.SalesRepresentative.UsersInfo.FullName
                            </a>
                        </div>

                    }

                    <ul class="social-list">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            @if (Model.Customer.City != null)
                            {@Model.Customer.City.CityName }
                            else
                            {<text>
                                <span class="aRed">
                                    غير محدد
                                </span>
                            </text>}
                        </li>
                        <li>
                            <i class="fa fa-briefcase"></i>
                            @if (Model.Customer.Job != null)
                            {@Model.Customer.Job.JobName }
                            else
                            {<text>
                                <span class="aRed">
                                    غير محدد
                                </span>
                            </text>}

                        </li>
                        <li>
                            <i class="fa fa-briefcase"></i>
                            @if (Model.Bank != null)
                            {@Model.Bank.BankName }
                            else
                            {<text>
                                <span class="aRed">
                                    غير محدد
                                </span>
                            </text>}
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="text-muted">
                                    <i></i> رقم الهوية : @Model.Customer.NationalID
                                </div>
                                <div class="text-muted">
                                    <i></i> صافي الراتب : @Model.Salary ر.س
                                </div>
                                <div class="text-muted">
                                    <i></i> رقم الجوال : @Model.Customer.UsersInfo.PhoneNumber
                                </div>
                            </div>
                            @if (Model.Bank != null)
                            {
                                <div class="col-md-6">
                                    <div class="text-muted">
                                        <i></i> التمويل : @Math.Round((Model.Salary * Model.Bank.IntersetsRate), 2)  ر.س
                                    </div>
                                    <div class="text-muted">
                                        <i></i> الصافي : @Math.Round((Model.Salary * Model.Bank.IntersetsRate) - Model.CommitmentsTotal, 2)  ر.س
                                    </div>
                                    <div class="text-muted">
                                        <i></i> كود الفرع : @if (Model.CustomerSelectedBranch != null)
                                        { @Model.CustomerSelectedBranch.BranchCode  }
                                        else
                                        {
                                            <span>غير محدد</span> }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-6 col-lg-offset-3  btn-orange">
                            حاله الطلب :@Model.LoanStatus.StatusName

                        </div>
                    </div>
                    @*<ul class="social-list">
                            <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email"><i class="fa fa-envelope-o"></i></a></li>
                            <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                        </ul>*@
                    <br>
                    <h5 class="subtitle mb5"> الالتزامات </h5>
                    <table class="table table-primary mb30">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>الجهة</th>
                                <th>المبلغ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Commitments.Count; i++)
                            {
                                <tr>

                                    <td>@(i + 1)</td>
                                    <td>@Model.Commitments.ToList()[i].CommitmentName</td>
                                    <td>@Model.Commitments.ToList()[i].CommitmentValue ر.س</td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>

                            <tr>

                                <td>المجموع</td>
                                <td></td>
                                <td>@Model.CommitmentsTotal ر.س</td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
            @if (Model.StatusID >= 4 && Model.Branch != null)
            {
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"> الفرع المحول اليه @Model.Branch.BranchName</h3>
                        </div>
                        <div class="panel-body">
                            <label>الطلب مسند الي الموظف :</label>
                            @if (Model.BranchEmpID == null)
                            {
                                <span class="aRed">غير محدد</span>
                            }
                            else
                            {

                                <a href="@Url.Action("Details","Employe", new { id = Model.BranchEmpID })">
                                    @Model.EmployeeAssign.UsersInfo.FullName
                                </a>
                            }


                        </div>
                    </div>
                </div>
            }
            @if (Model.StatusID == 10)
            {

                <div class="row">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Model.LoanStatus.StatusName</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <span class="row aRed">@Model.DeclineReason</span>
                            </div>
                        </div>
                    </div>
                </div>

            }


            else
            {
                if (Model.StatusID >= 5)
                { 
                    if (Model.BankRepresentative != null)
                    {

                    <div class="row">
                        <div class="panel panel-dark">
                            <div class="panel-heading">
                                <h3 class="panel-title">بيانات البنك</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <span class="row">اسم البنك : @Model.Bank.BankName</span>
                                   
                                        <span class="row">اسم المندوب البنكي : @Model.BankRepresentative.UsersInfo.FullName</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                }



                if (Model.StatusID >= 6)
                {

                    if (Model.Salary3Month != null)
                    {

                        <div class="row">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> البنك المختص @Model.Bank.BankName</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">


                                        @if (Model.BankRepresentative != null)
                                        {

                                            <span>
                                                ارسل العقد الي البنك  واستلمه الموظف البنكي
                                                @Model.BankRepresentative.UsersInfo.FullName
                                            </span>
                                        }
                                        else
                                        {
                                            <span>ادرجت هذه البيانات من قبل موظف الفرع</span>
                                        }


                                        <div class="row">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td>راتب اخر 3 شهور</td>
                                                        <td>اقصي تموين</td>
                                                        <td>سداد مبكر</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Model.Salary3Month ر.س</td>
                                                        <td>@Model.MaxFunds ر.س</td>
                                                        <td>@Model.EarlyPayment ر.س</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        @if (!string.IsNullOrEmpty(Model.BankNotes))
                                        {
                                            <div class="row">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">ملاحظات موظف البنك</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            @Html.Raw(Model.BankNotes)
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        }





                                    </div>
                                </div>
                            </div>
                        </div>

                    }


                }

                if (Model.StatusID >= 7)

                {

                    if (Model.FundBank != null)
                    {

                        <div class="row">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> البنك الممول @Model.FundBank.BankName</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">


                                        <div class="row">
                                            <div class="mb10">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(model => model.BankAccount, "رقم الحساب", new { @class = "control-label" })
                                                            @Html.TextBoxFor(model => model.BankAccount,
new
{
    @class = "form-control",
    @placeholder = "من حساب رقم",
    @required = "",
    @number = "true",
    @disabled = "disabled"
})
                                                        </div>
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(model => model.ActualFunds, "المبلغ", new { @class = "control-label" })
                                                            @Html.TextBoxFor(model => model.ActualFunds,
new
{
    @class = "form-control",
    @placeholder = "المبلغ",
    @required = "",
    @number = "true",
    @disabled = "disabled"
})
                                                        </div>
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(model => model.FundBankID,
"بنك التمويل", new { @class = "control-label" })
                                                            @Html.TextBoxFor(model => model.FundBank.BankName,
new
{
    @class = "form-control",
    @placeholder = "البنك المحول عليه",
    @required = "",
    @number = "true",
    @disabled = "disabled"
})
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }



                    if (!string.IsNullOrEmpty(Model.DeclineReason))
                    {

                        <div class="row">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@Model.LoanStatus.StatusName</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">

                                        <span class="row aRed">@Model.DeclineReason</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }


                }



            }
        </div>

    </div>

</div>
