﻿

@model LoanApp.Models.DataBaseModel.LoansRequest



<div class="col-md-12">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="@Model.Customer.UsersInfo.Photo" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">
                <a href="@Url.Action("Details","Customers", new { id= Model.CustomerID })">
                @Model.Customer.UsersInfo.FullName</a>
                </h4>

                <div class="col-md-6">
                    <div class="text-muted">
                        <i></i>
                        رقم الهويه :@Model.Customer.NationalID
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-muted">رقم الطلب :@Model.LoanID</div>
                </div>
                <div class="col-md-6">
                    <div class="text-muted">
                        المدينه :
                        @if (Model.Customer.City != null)
                        { @Model.Customer.City.CityName }
                        else
                        { <text> <span class="aRed">غير محدد</span> </text> }
                    </div>
                </div>
                <div class="col-md-6">
                   
                        <div class="text-muted">تاريخ الطلب :@Model.RequestDate.ToShortTimeString()</div>
                   
                </div>
                <div class="col-md-6">
                    <div class="text-muted">
                        الوظيفه :
                        @if (Model.Customer.Job != null)
                        { @Model.Customer.Job.JobName }
                        else
                        { <text> <span class="aRed">غير محدد</span> </text> }
                    </div>
                </div>
                <div class="col-md-6">
                    
                        <div class="text-muted">الحالة الحاليه :@Model.LoanStatus.StatusName</div>
                   
                </div>
                <div class="col-md-6">

                    <div class="text-muted">عدد لالتزامات :@Model.Commitments.Count</div>

                </div>
                <div class="col-md-6">

                    <div class="text-muted">مجموع الالتزامات :@Model.CommitmentsTotal ر.س</div>

                </div>

                         
                
            </div>
        </div>
        
    </div>
</div>

