﻿@model LoanApp.Models.DataBaseModel.LoansRequest


@if (_app.ui.current.User.Employee.BranchID == 1)
{

    if (Model.StatusID == 0)
    { <a class="btn btn-brown-alt" href="#">طلب تجريبي</a> }
    if (Model.StatusID == 1)
    { <a class="btn btn-darkblue" href="@Url.Action("MoveToBranch", "LoanActions", new { id = Model.LoanID })">تحويل للفرع</a>
    <hr />
    <a class="btn btn-danger" href="@Url.Action("AcceptOrDeclineLoan", "LoanActions", new { id = Model.LoanID })">رفض</a>
    }
    if (Model.StatusID == 2)
    { <a class="btn btn-danger" href="@Url.Action("AcceptOrDeclineLoan", "LoanActions", new { id = Model.LoanID })">رفض</a> }

    if (Model.StatusID == 3)
    { <a class="btn btn-brown-alt" href="#">مندوب غير متكمل</a> }
    if (Model.StatusID == 4)
    {<hr /> <a class="btn btn-black" href="@Url.Action("MoveToBank", "LoanActions", new { id = Model.LoanID })">تحويل للبتك</a>
        <hr />
    <a class="btn btn-danger" href="@Url.Action("DeclineLoanByBranch", "LoanActions", new { id = Model.LoanID })">رفض الطلب</a> }
    if (Model.StatusID == 5)
    { <a class="btn btn-brown" href="@Url.Action("AddBankData", "LoanActions", new { id = Model.LoanID })">استيفاء البيانات</a> }
    if (Model.StatusID == 6)
    { <a class="btn btn-danger" href="@Url.Action("AddLoanFundData", "LoanActions", new { id = Model.LoanID })">تحويل للفرع الرئيسي</a>
        <hr />
    <a class="btn btn-danger" href="@Url.Action("DeclineLoanByBranch", "LoanActions", new { id = Model.LoanID })">رفض الطلب</a> }
    if (Model.StatusID == 7)
    { <a class="btn btn-default" href="@Url.Action("AcceptOrDeclineLoan", "LoanActions", new { id = Model.LoanID })">قبول</a> }
    if (Model.StatusID == 10)
    { <a class="btn btn-danger" href="@Url.Action("AcceptOrDeclineLoan", "LoanActions", new { id = Model.LoanID })">رفض</a> }

    if(_app.LoanReq.CanBeTransferdToBranchEmp().Any(z=> z == Model.StatusID))
    {<hr/> <a class="btn btn-default" href="@Url.Action("EmpTransfer", "LoanActions", new { id = Model.LoanID })">تحويل لموظف اخر</a>}

}

else
{


    if (Model.StatusID == 4)
    {<hr /> <a class="btn btn-black" href="@Url.Action("MoveToBank", "LoanActions", new { id = Model.LoanID })">تحويل للبتك</a>
        <hr />
        <a class="btn btn-danger" href="@Url.Action("DeclineLoanByBranch", "LoanActions", new { id = Model.LoanID })">رفض الطلب</a> }
    if (Model.StatusID == 5)
    { <a class="btn btn-brown" href="@Url.Action("AddBankData", "LoanActions", new { id = Model.LoanID })">استيفاء البيانات</a> }
   if (Model.StatusID == 6)
    { <a class="btn btn-danger" href="@Url.Action("AddLoanFundData", "LoanActions", new { id = Model.LoanID })">تحويل للفرع الرئيسي</a>
        <hr />
        <a class="btn btn-danger" href="@Url.Action("DeclineLoanByBranch", "LoanActions", new { id = Model.LoanID })">رفض الطلب</a> }
   



}

