﻿

@model List<LoanApp.Models.DataBaseModel.LoansRequest>






<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!-- panel-btns -->
            <h3 class="panel-title">العقود</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @if (Model.Count > 0) { 
                    <table class="table ">
                        <thead>
                            <tr>
                                <td>رقم الطلب</td>
                                <th>تاريخ الطلب</th>
                                <th>الوقت</th>
                                <th>اسم العميل</th>
                                <th>الراتب الشهري</th>
                                @*<th>المبلغ المطلوب</th>*@
                                <th>البنك</th>
                                <th>حاله الطلب</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.ActionLink(item.LoanID.ToString(),"Details","LoanRequest",
                                       new { id= item.LoanID },null )</td>
                                    <td>@item.RequestDate.ToShortDateString() </td>
                                     <td>@item.RequestDate.ToShortTimeString() </td>
                                    <td>@item.Customer.UsersInfo.FullName</td>
                                    <td>@item.Salary ر.س</td>
                                    @*<td>@item.Funds  ر.س</td>*@
                                    <td>@item.Bank.BankName</td>
                                    <td>@item.LoanStatus.StatusName</td>

                                </tr>
                            }
                        </tbody>

                    </table>
                    }
                    else {<h4>لايوجد عقود  في قاعده البيانات</h4> }
                </div>
            </div>
        </div>
    </div>
</div>






