﻿@model LoanApp.Models.DataBaseModel.LoansRequest



@if (_app.ui.current.User.Employee.BranchID == 1)
{



if (!_app.LoanReq.CanBeEditedStatus().Contains(Model.StatusID))
{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <a href="@Url.Action("Details", "LoanRequest", new { id = Model.LoanID })" class="pull-right"
               title="عرض تفاصيل العقد" data-placement="right" data-toggle="tooltip">
                <h3>
                    <span class="glyphicon glyphicon-info-sign"></span>
                </h3>
            </a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group mr5" title="خيارات" data-placement="right" data-toggle="tooltip">
                <button type="button" class="btn btn-default-alt dropdown-toggle pull-right" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-wrench"></span>
                </button>
                <ul class="dropdown-menu pull-left" role="menu">
                    <li>

                        <a href="@Url.Action("Details", new { id = Model.LoanID })">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            عرض تفاصيل العقد
                        </a>

                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("Edit", "Customers", new { id = Model.CustomerID })">
                            <span class="glyphicon glyphicon-user"></span>
                            تعديل بيانات العميل

                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Edit", "LoanActions", new { id = Model.LoanID })">
                            <span class="glyphicon  glyphicon-list-alt"></span>

                            تعديل بيانات الطلب
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "Commitments", new { id = Model.LoanID })">
                            <span class="glyphicon  glyphicon-align-right"></span>
                            تعديل التزامات الطلب
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
}
}
else
{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <a href="@Url.Action("Details", "LoanRequest", new { id = Model.LoanID })" class="pull-right"
               title="عرض تفاصيل العقد" data-placement="right" data-toggle="tooltip">
                <h3>
                    <span class="glyphicon glyphicon-info-sign"></span>
                </h3>
            </a>
        </div>
    </div>

}