﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    @*<link rel="shortcut icon" href="Theme/images/favicon.png" type="image/png">*@
   
    <title>@ViewBag.Title</title>
    
   @{ var cu = _app.ui.current.User; var l = _app.ui.current.UserLoans(); }


    @System.Web.Optimization.Styles.Render("~/Content/Css")

    
    @System.Web.Optimization.Scripts.Render("~/Content/Js")

    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCBQfj2fF2BjD2EF1ajCVHNf27LCUXpuwE&language=ar&libraries=places"></script>
    <script type="text/javascript" src="~/Theme/js/gmaps.js"></script>

</head>


<body>

    <!-- Preloader -->
    @*<div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>*@
    <section>

        <div class="leftpanel">

            <div class="logopanel">
                <h1><span>[</span> Ealan Najd .Co <span>]</span></h1>
            </div><!-- logopanel -->
            <!-- leftpanelinner -->
            <div class="leftpanelinner">

                <!-- This is only visible to small devices -->
                <div class="visible-xs hidden-sm hidden-md hidden-lg">
                    <div class="media userlogged">
                        <img alt="" src="@cu.Photo" class="media-object">
                        <div class="media-body">
                            <h4>@cu.Name_f</h4>
                            <span>@cu.FullName</span>
                        </div>
                    </div>

                    <h5 class="sidebartitle actitle">الحساب</h5>
                    <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                        <li><a href="@Url.Action("index","Profile")"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                        <li><a href="@Url.Action("LogOut","Login")"><i class="fa fa-sign-out"></i> <span>تسجيل خروج</span></a></li>
                    </ul>
                </div>


                <ul class="nav nav-pills nav-stacked nav-bracket">
                    <li class="nav-parent">
                        <a href="@Url.Action("index","Home")"><i class="fa fa-home"></i> <span>الرئيسية</span></a>

                        <ul class="children">
                            <li><a href="@Url.Action("index","Home")"><i class="fa fa-caret-right"></i>الرئيسية</a></li>
                        </ul>

                    </li>


                    @foreach (var h in _app.ui.current.UserSideMenu() )
                    {
                        @Html.Partial("~/Views/Shared/_MenuHeaderAndItems.cshtml", h)
                    }


                    @*<li class="nav-parent">
                <a href=""><i class="fa fa-spinner"></i> <span>البيات الاساسيه</span></a>
                <ul class="children">
                    <li><a href="@Url.Action("index","Banks")"><i class="fa fa-caret-right"></i>البنوك</a></li>

                    <li><a href="@Url.Action("index","Branch")"><i class="fa fa-caret-right"></i> <span>الفروع</span></a></li>
                </ul>
            </li>
            <li class="nav-parent">
                <a href=""><i class="fa fa-edit"></i> <span>العملاء</span></a>
                <ul class="children">
                    <li><a href="@Url.Action("Accepted","LoanRequest")"><i class="fa fa-caret-right"></i> طلبات جديدة</a></li>
                    <li><a href="@Url.Action("inCompelete","LoanRequest")"><i class="fa fa-caret-right"></i> مندوبين غير مكتمل</a></li>

                </ul>
            </li>

            <li class="nav-parent">
                <a href=""><i class="glyphicon glyphicon-remove-circle"></i> <span>طلبات مرفوضة</span></a>
                <ul class="children">
                    <li><a href="@Url.Action("DeclinedByApp","LoanRequest")"><i class="fa fa-caret-right"></i> من البرنامج</a></li>
                    <li><a href="@Url.Action("DeclinedByEmp","LoanRequest")"><i class="fa fa-caret-right"></i> من الفروع</a></li>

                </ul>
            </li>

            <li class="nav-parent">
                <a href=""><i class="fa  fa-folder-open-o"></i> <span>العقود</span></a>
                <ul class="children">
                    <li><a href="@Url.Action("index","LoanRequest")"><i class="fa fa-caret-right"></i> جميع العقود</a></li>
                    <li><a href="@Url.Action("Sent2Branch","LoanRequest")"><i class="fa fa-caret-right"></i>عقود لدي الفروع </a></li>
                    <li><a href="@Url.Action("Sent2Bank","LoanRequest")"><i class="fa fa-caret-right"></i> عقود ارسلت الي البنك</a></li>
                    <li><a href="@Url.Action("ReceivedFromBank","LoanRequest")"><i class="fa fa-caret-right"></i> عقود رد عليها البنك</a></li>
                    <li><a href="@Url.Action("Compeleted","LoanRequest")"><i class="fa fa-caret-right"></i> عقود منتهية</a></li>
                </ul>
            </li>


            <li class="nav-parent">
                <a href=""><i class="fa fa-user"></i> <span>الموظفين</span></a>
                <ul class="children">
                    <li><a href="@Url.Action("index","Employe")"><i class="fa fa-caret-right"></i>مديرين و الموظفين</a></li>
                    <li><a href="@Url.Action("index","SalesRepresentatives")"><i class="fa fa-caret-right"></i> المندوبين</a></li>
                    <li><a href="@Url.Action("index","BankRepresentatives")"><i class="fa fa-caret-right"></i> موظفين البنوك</a></li>


                </ul>
            </li>



            <li class="nav-parent">
                <a href=""><i class="fa fa-user"></i> <span>المحاسبة</span></a>
                <ul class="children" style="display: none;">
                    <li><a href="@Url.Action("AccedptedAndFinished","LoanRequest")"><i class="fa fa-caret-right"></i>سند قبض</a></li>
                    <li><a href="@Url.Action("index","Recepit")"><i class="fa fa-caret-right"></i> سند صرف</a></li>
                    <li><a href="#"><i class="fa fa-caret-right"></i> تحليل محاسبي</a></li>



                </ul>
            </li>*@


                </ul>

                @*<div class="infosummary">

                    <ul>
                        <li>
                            <div class="datainfo">
                                <span class="text-muted">Daily Traffic</span>
                                <h4>630, 201</h4>
                            </div>
                            <div id="sidebar-chart" class="chart"></div>
                        </li>
                        <li>
                            <div class="datainfo">
                                <span class="text-muted">Average Users</span>
                                <h4>1, 332, 801</h4>
                            </div>
                            <div id="sidebar-chart2" class="chart"></div>
                        </li>
                        <li>
                            <div class="datainfo">
                                <span class="text-muted">Disk Usage</span>
                                <h4>82.2%</h4>
                            </div>
                            <div id="sidebar-chart3" class="chart"></div>
                        </li>
                        <li>
                            <div class="datainfo">
                                <span class="text-muted">CPU Usage</span>
                                <h4>140.05 - 32</h4>
                            </div>
                            <div id="sidebar-chart4" class="chart"></div>
                        </li>
                        <li>
                            <div class="datainfo">
                                <span class="text-muted">Memory Usage</span>
                                <h4>32.2%</h4>
                            </div>
                            <div id="sidebar-chart5" class="chart"></div>
                        </li>
                    </ul>
                </div>*@<!-- infosummary -->

            </div>
        
        </div>
        <!-- leftpanel -->

        <div class="mainpanel">

            <div class="headerbar">

                <a class="menutoggle"><i class="fa fa-bars"></i></a>

                <form class="searchform" action="@Url.Action("Search","Home")" method="post">
                    <input type="text" class="form-control" name="keyword"  id="keyword" placeholder="عن ماذا تبحث ...؟" />
                </form>

                <div class="header-right">
                    <ul class="headermenu">

                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <img src="@cu.Photo" alt="" />
                                   @cu.Name_f
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-usermenu">

                                    <li><a href="@Url.Action("index","Profile")"><i class="glyphicon glyphicon-cog"></i> تعديل بياناتي</a></li>

                                    <li><a href="@Url.Action("LogOut","Login")"><i class="glyphicon glyphicon-log-out"></i> تسجيل خروج</a></li>
                                </ul>
                            </div>
                        </li>
                        
                    </ul>
                </div><!-- header-right -->
                <div class="header-right">

                    <ul class="headermenu">


                        @if (l.NewLoans.Count > 0)
                        {
                            <li>
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-certificate"></i>
                                        <span class="badge">@l.NewLoansCount</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-head pull-right">
                                        <h5 class="title">الطلبات الجديده</h5>
                                        <ul class="dropdown-list user-list">


                                            @foreach (var item in l.NewLoans) 
                                            {

                                                <li class="new">
                                                    <div class="thumb">
                                                    <a href="@Url.Action("Details","LoanRequest", new { id= item.LoanID })">
                                                        <img src="@item.Customer.UsersInfo.PhotoAbsoluteUrl" alt=""></a>
                                                    </div>
                                                    <div class="desc">
                                                        <h5><a href="@Url.Action("Details","LoanRequest", new { id= item.LoanID })">

                                                                @if (!string.IsNullOrEmpty(item.Customer.UsersInfo.FullName.Trim()))
                                                                { @item.Customer.UsersInfo.FullName }
                                                                else
                                                                {
                                                                <span class="aRed">غير محدد</span>
                                                                }

                                                           
                                                            </a> <span class="badge badge-success">جديد</span></h5>
                                                    </div>
                                                </li>


                                            }

                                           

                                            @*<li>
                                                    <div class="thumb"><a href=""><img src="../images/photos/user5.png" alt=""></a></div>
                                                    <div class="desc">
                                                        <h5><a href="">Lane Kitmari</a></h5>
                                                    </div>
                                                </li>*@
                                            <li class="new"><a href="@Url.Action("Accepted","LoanRequest")">عرض كل الطلبات الجديده (@l.NewLoansCount) </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>


                        }
                        

                        @if (l.DeclinedLoans.Count > 0)
                        {
                            <li>
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-remove-circle"></i>
                                        <span class="badge">@l.DeclinedLoansCount</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-head pull-right">
                                        <h5 class="title">الطلبات المرفوضه</h5>
                                        <ul class="dropdown-list user-list">


                                            @foreach (var item in l.DeclinedLoans)
                                            {

                                                <li class="new">
                                                    <div class="thumb">
                                                        <a href="@Url.Action("Details","LoanRequest", new { id= item.LoanID })">
                                                        <img src="@item.Customer.UsersInfo.PhotoAbsoluteUrl" alt=""></a>
                                                    </div>
                                                    <div class="desc">
                                                        <h5>
                                                            <a href="@Url.Action("Details","LoanRequest", new { id= item.LoanID })">
                                                                @if (!string.IsNullOrEmpty(item.Customer.UsersInfo.FullName.Trim()))
                                                                { @item.Customer.UsersInfo.FullName}
                                                                else
                                                                {
                                                                    <span class="aRed">غير محدد</span>
                                                                }
                                                            </a> 
                                                        </h5>
                                                    </div>
                                                </li>


                                            }



                                            @*<li>
                                <div class="thumb"><a href=""><img src="../images/photos/user5.png" alt=""></a></div>
                                <div class="desc">
                                    <h5><a href="">Lane Kitmari</a></h5>
                                </div>
                            </li>*@
                                            <li class="new"><a href="@Url.Action("DeclinedByApp", "LoanRequest")">عرض كل الطلبات المرفوضه (@l.DeclinedLoansCount) </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>


                        }


                        @if (l.CompleltedLoansData.Count > 0)
                        {
                            <li>
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                        <i class="glyphicon  glyphicon-saved"></i>
                                        <span class="badge">@l.CompleltedLoansDataCount</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-head pull-right">
                                        <h5 class="title">الطلبات المكتمله</h5>
                                        <ul class="dropdown-list user-list">


                                            @foreach (var item in l.CompleltedLoansData)
                                            {

                                                <li class="new">
                                                    <div class="thumb">
                                                        <a href="@Url.Action("Details","LoanRequest", new { id= item.LoanID })">
                                                        <img src="@item.Customer.UsersInfo.PhotoAbsoluteUrl
                                                             " alt=""></a>
                                                    </div>
                                                    <div class="desc">
                                                        <h5>
                                                            <a href="@Url.Action("Details","LoanRequest", new { id= item.LoanID })">
                                                                @if (!string.IsNullOrEmpty(item.Customer.UsersInfo.FullName.Trim()))
                                                                { @item.Customer.UsersInfo.FullName }
                                                                else
                                                                {
                                                                    <span class="aRed">غير محدد</span>
                                                                }
                                                            </a> 
                                                        </h5>
                                                    </div>
                                                </li>


                                            }



                                            @*<li>
                                <div class="thumb"><a href=""><img src="../images/photos/user5.png" alt=""></a></div>
                                <div class="desc">
                                    <h5><a href="">Lane Kitmari</a></h5>
                                </div>
                            </li>*@
                                            <li class="new"><a href="@Url.Action("Compeleted","LoanRequest")">عرض كل الطلبات المكتمله (@l.CompleltedLoansDataCount) </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>


                        }


                        @if (l.BranchLoans.Count > 0)
                        {
                            <li>
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                        <i class="glyphicon  glyphicon-saved"></i>
                                        <span class="badge">@l.BranchLoansCount</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-head pull-right">
                                        <h5 class="title">الطلبات محوله للفرع</h5>
                                        <ul class="dropdown-list user-list">


                                            @foreach (var item in l.BranchLoans)
                                            {

                                                <li class="new">
                                                    <div class="thumb">
                                                        <a href="@Url.Action("Details","LoanRequest", new { id= item.LoanID })">
                                                        <img src="@item.Customer.UsersInfo.PhotoAbsoluteUrl" alt=""></a>
                                                    </div>
                                                    <div class="desc">
                                                        <h5>
                                                            <a href="@Url.Action("Details","LoanRequest", new { id= item.LoanID })">
                                                                @if (!string.IsNullOrEmpty(item.Customer.UsersInfo.FullName.Trim()))
                                                                { @item.Customer.UsersInfo.FullName }
                                                                else
                                                                {
                                                                    <span class="aRed">غير محدد</span>
                                                                }
                                                            </a>
                                                        </h5>
                                                    </div>
                                                </li>


                                            }



                                            @*<li>
                                <div class="thumb"><a href=""><img src="../images/photos/user5.png" alt=""></a></div>
                                <div class="desc">
                                    <h5><a href="">Lane Kitmari</a></h5>
                                </div>
                            </li>*@
                                            <li class="new"><a href="@Url.Action("Sent2Branch","LoanRequest")">عرض كل طلبات الفرع (@l.BranchLoansCount) </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>


                        }




                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" disabled>
                                  فرع:   @cu.Employee.Branch.BranchName
                                </button>
                               
                            </div>
                        </li>

                    </ul>


                    
                    </div>
                </div><!-- headerbar -->


            <div class="pageheader">
                <h2><i class="fa fa-home"></i>@ViewBag.Title</h2>

            </div>

            <div class="contentpanel">

                <div class="row">
                    @RenderBody()
                    </div>
                </div>
            </div>
        </section>








    <script type="text/javascript">

       
       
        $(".dataTable").dataTable(
            {
                "oLanguage":
                {
                    
                "sProcessing": "جارٍ التحميل...",
                "sLengthMenu": "أظهر _MENU_ مدخلات",
                "sZeroRecords": "لم يعثر على أية سجلات",
                "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                "sInfoPostFix": "",
                "sSearch": "ابحث:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "الأول",
                    "sPrevious": "السابق",
                    "sNext": "التالي",
                    "sLast": "الأخير"
                
            }
                }
            });


        $(document).ready(function () {

            var msgText = '@_app.ui.msg.Show';

            if (msgText != '')
            {

                ShowMSg(msgText);
               
            }
                
            });


        function ShowMSg(msgText)
        {
            jQuery.gritter.add({
                title: 'تنــبــيـــه',
                text: msgText,
                class_name: 'growl-info',
                // image: '../images/screen.png',
                sticky: false,
                time: ''
            });

        }

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

          



            $('form').each(function (selindex) {
               // alert('index' + ":" + selindex);

                if ($(this).hasClass('searchform') == false)
                {

                    $(this).validate({
                        highlight: function (element) {
                            jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                        },
                        success: function (element) {
                            jQuery(element).closest('.form-group').removeClass('has-error');
                        },


                    });

                    return false;
                }
                 

            });



         

         
            
        });


       

      
    </script>
    </body>




</html>