﻿@{

    Layout = "~/Views/Shared/_masterLayout.cshtml";

}




<div id="mydata">
@RenderBody()


</div>


<div class="panel-body">

   
    
        <div class=" col-lg-offset-2  col-md-8">
            <input type="button" value="عرض المزيد" class="btn btn btn-brown width100p" onclick="loadmore()" id="btn_loader" />
        </div>


    
</div>





<script type="text/javascript">


    function get(controllerName, methodName, param, success , error) {


        var domain = document.location.origin;

        var url = domain + '/' + controllerName + '/' + methodName;


        $.ajax({
            url: url,
            type: 'POST',
            data: JSON.stringify(param),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                success(data);

            },
            error: function (x, y, z) {

                error(x, y, z);
            }
        });
    }


    var maxid = 0;
    var statusid = 0;

    function loadmore() {
        console.log('stsid :' + statusid);
        console.log('maxid :' + maxid );
        var prm = { 'Status': statusid, 'MaxLoanID': maxid };


       $.when(get('LoanRequest', 'ScroolHandler', prm, function (data) {
           
            if (data) {
                $('#mydata').append(data);
                setMaxID();

            }

            else { endload(); }
       },
           function (x, y, z) { JSON.stringify(x); })).then(function () { loadingPanelOff(); });



    }

    function setMaxID() {
        $('.LoanID').each(function (i, obj) {
            if (maxid == 0) { maxid = $(obj).html(); }
            if ($(obj).html() < maxid) { maxid = $(obj).html(); }

        });

        
    }



    $(document).ready(function () {

        setMaxID()

    });

    function loadingPanelOn()
    {
        jQuery('#preloader').fadeIn(function () {

           


        });

    }


    function loadingPanelOff()
    {
        jQuery('#preloader').delay(1500).fadeOut(function () {
            jQuery('body').delay(1500).css({ 'overflow': 'visible' });
        });

    }


    function endload()
    {
        $('#btn_loader').val('تم تحميل جميع الطلبات من هذه التوع');
        $('#btn_loader').attr('disabled', 'disabled');
    }

</script>





