﻿

@model LoanApp.Models.DataBaseModel.MenuHeader



@if (Model.MenuItems.Count > 0)
{

    <li class="nav-parent">
        <a href=""><i class="@Model.HeaderIcon"></i> <span>@Model.HeaderName</span></a>
        <ul class="children">

            @foreach (var item in Model.MenuItems)
            {
                <li><a href="@Url.Action(item.Action,item.Controller)"><i class="@item.ItemIcon"></i>@item.ItemName</a></li>
            }

        </ul>
    </li>

}
