﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>



    @System.Web.Optimization.Styles.Render("~/Content/Css")


    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCBQfj2fF2BjD2EF1ajCVHNf27LCUXpuwE&language=ar"></script>
    @System.Web.Optimization.Scripts.Render("~/Content/Js")

</head>
<body>
    <div>
        @RenderBody()

    </div>
</body>
</html>
