﻿@model IEnumerable<LoanApp.Models.DataBaseModel.Receipt>
@{ decimal t1 = 0; }




@if (Model.Count() > 0)
{

    <table class="table dataTable">
        <thead>
            <tr>
                <th>#</th>
                <th>التاريخ</th>
                <th>الساعه</th>
                <th>المندوب</th>
                <th>الفرع</th>
                <th>الموظف</th>
                <th>المبلغ</th>
                <th>خيارات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ReceiptID</td>
                    <td>@item.DateAdded.ToShortDateString()</td>
                    <td>@item.DateAdded.ToShortTimeString()</td>
                    <td>@item.SalesRepresentative.UsersInfo.FullName</td>
                    <td>@item.Branch.BranchName</td>
                    <td>@item.Employee.UsersInfo.FullName</td>
                    <td>@item.Amount ر.س</td>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="@Url.Action("Details", "Receipt", new { id = item.ReceiptID })" title="عرض المحتوي"><i class="fa fa-info"></i></a>
                            </div>

                            <div class="col-md-6">
                                <a href="@Url.Action("Delete", "Receipt", new { id = item.ReceiptID })" class="delete-row danger aRed" title="حذف "><i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
                { t1 += item.Amount;}
            }
        </tbody>
        <tfoot>
            <tr>
                <th>الاجمالي :</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
                <th>@t1 ر.س</th>
                <th></th>
            </tr>
        </tfoot>
    </table>

}

else
{

    <h2>لايوجد اي اذونات في قاعده البيانات</h2>
}


