﻿@model LoanApp.Models.DataBaseModel.UsersInfo




@{


    var enabled = "";

    if (ViewBag.formMode == "edit" || ViewBag.formMode == "create")
    {
        enabled = "";

    } else if(ViewBag.formMode == "details") { enabled = "disabled"; }
   
}








@if (Model.Employee != null ||  ViewBag.AccountType == "Emp")
{
    <div class="col-md-12">
        <h3>الصلاحيات</h3>


       

        @foreach (var item in _app.ui.current.AllMenuHeaders())
                {

            <div class="col-md-3">


                @if (Model.MenuHeaders == null)
                {<input type="checkbox" id="mh_@item.HeaderID" name="mh_@item.HeaderID" @enabled /> }

                else if (Model.MenuHeaders.Any(x => x.HeaderID == item.HeaderID))
                { <input type="checkbox" id="mh_@item.HeaderID" name="mh_@item.HeaderID" checked="checked" @enabled /> }
                else
                { <input type="checkbox" id="mh_@item.HeaderID" name="mh_@item.HeaderID" @enabled /> }

                

               


                <label class="control-label" for="mh_@item.HeaderID">@item.HeaderName</label>

            </div>

        }
    </div>
}
