﻿@model LoanApp.Models.DataBaseModel.Employee

@{
    ViewBag.Title = "موظف جديد";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<div class="panel">
    <div class="panel-body">




        @using (Html.BeginForm((string)ViewBag.Contoler, "Employe", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()




            <fieldset>
                <div class="col-md-11 col-lg-offset-1">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })




                    @Html.EditorFor(x => x.UsersInfo)




                    <h3 class="nomargin">مكان العمل</h3>
                    <div class="col-lg-offset-3  col-md-7">

                        <div class="mb10">
                            <label class="control-label">يعمل في فــرع</label>

                            @Html.DropDownList("BranchID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })





                        </div>

                    </div>






                    <div class="row">

                    </div>

                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            @*<a class="btn btn-darkblue">.btn-darkblue</a>*@
                            <input type="submit" value="حفظ" class="btn btn-darkblue " />
                        </div>
                        <div class="col-md-2">
                            @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                        </div>

                    </div>

                    @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>*@

                </div>
            </fieldset>
        }
    </div>
</div>
