﻿@model LoanApp.Models.DataBaseModel.Employee

@{
    ViewBag.Title = "بيانات الموظف " + @Model.UsersInfo.FullName;
    Layout = "~/Views/Shared/_masterLayout.cshtml";
    var au = Model.UsersInfo.Audits;



}

<div class="panel">
    <div class="panel-body">



        <div class="col-md-11 col-lg-offset-1">

            @Html.EditorFor(x => x.UsersInfo)



            <h3 class="nomargin">مكان العمل</h3>
            <div class="col-lg-offset-3  col-md-7">

                <div class="mb10">
                    <label class="control-label">يعمل في فــرع</label>
                    <span class="info">@Model.Branch.BranchName</span>
                </div>

                @if (Model.Branch.BranchMangerEmpID == Model.EmpID)
                {

                    <div class="mb10">
                        <label class="control-label">مدير فرع</label>
                        <span class="info">@Model.Branch.BranchName</span>
                    </div>
                }

            </div>


            <div class="row"></div>

            <div class="row">
                <div class="col-md-offset-2 col-md-2">
                    @Html.ActionLink("تعديل بيانات", "Edit", new { id = Model.EmpID }, new { @class = "btn btn-brown" })

                </div>
                <div class="col-md-2">
                    @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-orange" })
                </div>

            </div>



        </div>


    </div>
</div>

