﻿@model IEnumerable<LoanApp.Models.DataBaseModel.Employee>

@{
    ViewBag.Title = "الموظفين";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}


<div class="panel">
    <div class="panel-body">





        <p>
            @Html.ActionLink("اضافه موظف جديد", "Create", null, new { @class = "btn btn-black" })
        </p>
        <table class="table table-striped dataTable">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        اسم الموظف
                    </th>
                    <th>
                        رقم الهاتف
                    </th>
                    <th>
                        الفرع
                    </th>
                    <th>
                        حاله الحساب
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img class="userinfoTbaleImg" src="@item.UsersInfo.PhotoAbsoluteUrl" alt="">
                        </td>
                        <td>
                            @Html.ActionLink(item.UsersInfo.FullName, "Details", new { id = item.EmpID })

                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.UsersInfo.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Branch.BranchName)
                        </td>

                        <td>
                            @if (item.UsersInfo.ActiveAccount)
                            {<span class="info">حساب نشط</span> }
                            else
                            { <span class="aRed">حساب موقوف</span>}
                        </td>


                        <td>
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="@Url.Action("Details", new { id = item.EmpID })" title="الصفحه الشخصيه"><i class="fa fa-info"></i></a>
                                </div>

                                <div class="col-md-4">
                                    <a href="@Url.Action("Edit", new { id = item.EmpID })" title="تعديل بيانات الملف الشخصي"><i class="fa fa-pencil"></i></a>
                                </div>

                                <div class="col-md-4">
                                    <a href="@Url.Action("Delete", new { id = item.EmpID })" class="delete-row danger aRed" title="حذف الحساب"><i class="fa fa-trash-o"></i></a>
                                </div>

                            </div>



                        </td>


                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>